<br /><br />
<div id="view-content">

<?= $this->placeholder('headtitle')->set('Office -> Search Results');  ?>
    <?php if($this->blacklisted == true)
    {
        echo "<h1>BLACKLISTED - MATCH FOUND ON DO NOT BUY LIST</h1>";
		if(false === $this->customer)
		{
		//write out customer info so they know why they got reject
		//should include conviction info
		echo "Customer info stuff";
		}
    }
    else
    if(false === $this->customer)
    {
        ?>Please complete this form for the New Customer:
        <br />
        <br /><form name="results" action="/office/client/create" method="post" id="results" enctype="multipart/form-data">
            <?php
            if(isset($this->formvalues['yard']))
            {
                ?><input type="hidden" name="yard" value="1" />
                <?php
            }
            ?>
        <div style="width:40%; float:left;">
		<table id="id-form" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<th>
						First Name (required):
					</th>
					<td>
						<input type="text" name="firstName" id="newfirstName" value="<?= isset($this->formvalues['first_name']) ? $this->formvalues['first_name'] : $this->formvalues['firstName'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
					<th>
						Middle Initial:
					</th>
					<td>
						<input type="text" name="middleName" id="newmiddleName" value="<?= $this->formvalues['middle_name'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>					
					<th>
						Last Name (required):
					</th>
					<td>
						<input type="text" name="lastName" id="newlastName" value="<?= isset($this->formvalues['last_name']) ? $this->formvalues['last_name'] : $this->formvalues['lastName'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>					
					<th>
						Date of Birth (YYYYMMDD) (required):
					</th>
					<td>
						<input type="text" name="dob" id="newdob" value="<?= isset($this->formvalues['date_of_birth']) ? SY_Model_Customer::formatDOB($this->formvalues['date_of_birth'], true) : $this->formvalues['dob'] ?>" class="inp-form">
					</td>
				</tr>					
					<th>
						License #:
					</th>
					<td>
						<input type="text" name="license" id="newlicense" value="<?= isset($this->formvalues['drivers_license_number']) ? $this->formvalues['drivers_license_number'] : $this->formvalues['license'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>					
					<th>
						Address Line 1:
					</th>
					<td>
						<input type="text" name="address_1" id="newaddress_1" value="<?= $this->formvalues['address_1'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>					
					<th>
						Address Line 2 (optional):
					</th>
					<td>
						<input type="text" name="address_2" id="newaddress_2" value="<?= $this->formvalues['address_2'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>					
					<th>
						City:
					</th>
					<td>
						<input type="text" name="city" id="newcity" value="<?= $this->formvalues['city'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>					
					<th>
					    State:
					</th>
					<td>
						<input type="text" name="state" id="newstate" value="<?= $this->formvalues['state'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>					
					<th>
				        Zip Code:
					</th>
					<td>
						<input type="text" name="zip" id="newzip" value="<?= $this->formvalues['zip_code'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>					
							
					<td colspan="2">
						<input type="submit" value="" class="form-submit" />
						<input type="reset" value="" class="form-reset"  />
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div style="width:50%; float: left;">
				<strong>Picture:</strong>
				
				<div id="mydropzone" class="dropzone square">
				
					
				</div>
				
		</div>
		
        </form><?php        
    }
    else
    {
        $customer = $this->customer;
        ?>
		
        <form name="results" action="<?php if(isset($this->formvalues['yard']) && $this->formvalues['yard'] == '1') { ?>/yard/client/results<?php } else { ?>/office/transaction/<?php } ?>" id="results" method="post" enctype="multipart/form-data">
        <input type="hidden" name="verified" id="verified" value="" />
        <input type="hidden" name="makechanges" id="makechanges" value="" />
        <input type="hidden" name="oldvalues" value='<?= $customer ?>' />
		<div style="width:40%; float:left;">
		<button class="form-blue" type="button" onclick="javascript:accept();">Accept</button>  
		<button class="form-blue" type="button" onclick="javascript:reject()">Reject</button>
        <button class="form-blue" type="button" onclick="javascript:makeChanges();">Change</button>
        <?php if(isset($this->opentickets) && false !== $this->opentickets)
        {
            // there are open tickets, provide link to the viewer
            ?><button class="form-blue" type="button" onclick="window.location = '/office/transaction'">Ticket(s)</button><br /><br />
            <?php
        }
        ?>
        
		<table id="id-form">
		<tbody>
		<tr>
			<th>
				First Name (required):
			</th>
			<td>
				<input type="text" name="firstName" id="firstName" value="<?= $customer->first_name ?>" disabled="disabled" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
			</td>
		</tr>
		<tr>
			<th>
				Middle Initial:
			</th>
			<td>
				<input type="text" name="middleName" id="middleName" value="<?= $customer->middle_name ?>" disabled="disabled" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
			</td>
		</tr>
		<tr>
			<th>
				Last Name (required):
			</th>
			<td>
				<input type="text" name="lastName" id="lastName" value="<?= $customer->last_name ?>" disabled="disabled" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
			</td>
		</tr>
		<tr>
			<th>
				Date of Birth:
			</th>
			<td>
				<input type="text" name="dob" id="dob" value="<?= SY_Model_Customer::formatDOB($customer->date_of_birth, true) ?>" disabled="disabled" class="inp-form">
			</td>
		</tr>
		<tr>
			<th>
				License #:
			</th>
			<td>
				<input type="text" name="license" id="license" value="<?= $customer->drivers_license_number ?>" style="text-transform:uppercase;" disabled="disabled" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
			</td>
		</tr>
		<tr>
			<th>
				Address Line 1:
			</th>
			<td>
				<input type="text" name="address_1" id="address_1" value="<?= $customer->address_1 ?>" style="text-transform:uppercase;" disabled="disabled" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
			</td>
		</tr>
		<tr>
			<th>
				Address Line 2:
			</th>
			<td>
				<input type="text" name="address_2" id="address_2" value="<?= $customer->address_2 ?>" style="text-transform:uppercase;" disabled="disabled" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
		</tr>
		<tr>
			<th>
				City:
			</th>
			<td>
				<input type="text" name="city" id="newcity" value="<?= $customer->city ?>" style="text-transform:uppercase;" disabled="disabled" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
			</td>
		</tr>
		<tr>
			<th>
				State:
			</th>
			<td>
				<input type="text" name="state" id="newstate" value="<?= $customer->state ?>" style="text-transform:uppercase;" disabled="disabled" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
			</td>
		</tr>
		<tr>
			<th>
				Zip Code:
			</th>
			<td>
				<input type="text" name="zip" id="newzip" value="<?= $customer->zip_code ?>" style="text-transform:uppercase;" disabled="disabled" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
			</td>
		</tr>
			</tbody>
	</table>
		</div>
		<div style="width:50%; float: left;">
			<strong>Picture:</strong>
			<?php
			if(!empty($customer->picture))
			{
				$base64 = base64_encode($customer->picture);
				?><div id="picture-display"><img src="data:<?= $customer->picture_mimetype ?>;base64,<?= $base64 ?>" /></div>
				<?php
			}
			?>
			<div id="mydropzone" style="display:none;" class="dropzone square">
			
				
			</div>
			
	</div>
	<div style="clear: both;"></div>
	</form>
        <?php
    }
?>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('#mydropzone').dropzone({ url: "/office/client/upload" });
});


function accept()
{
    $('#verified').val('1');
     $('#results table#id-form tbody tr td').children('input').each(function(){$(this).removeAttr('disabled');});
    $('#results').submit();
}
function reject()
{
    window.location = '/office/client/search';
}
function makeChanges()
{
     $('#results table#id-form tbody tr td').children('input').each(function(){$(this).removeAttr('disabled');});
    // change the target for the form
    $('#results').attr('action','/office/client/update');
    // add image uploader
    //var imgUpload = document.createElement('input');
    //imgUpload.setAttribute('type','file');
    //imgUpload.setAttribute('name','picture_upload');
    var btnSubmit = document.createElement('input');
    btnSubmit.setAttribute('type','submit');
    btnSubmit.setAttribute('value','');
    btnSubmit.setAttribute('class','form-submit');
    var btnReset = document.createElement('input');
    btnReset.setAttribute('type','reset');
    btnReset.setAttribute('value','');
    btnReset.setAttribute('class','form-reset');
    $('#mydropzone').show();
    $('#picture-display').hide();
    //$('#results').append(imgUpload);
    $('#results').append(btnSubmit);
    $('#results').append(btnReset);
    $('#makechanges').val('1');
    $('#firstName').focus();
}

function launchApplication()
{
  if ( typeof launchApplication.winrefs == 'undefined' )
  {
    launchApplication.winrefs = {};
  }
  if ( typeof launchApplication.winrefs['webcam'] == 'undefined' || launchApplication.winrefs['webcam'].closed )
  {
    var l_width = 340;
    var l_height = 300;

    var l_params = 'status=0' +
                   ',resizable=0' +
                   ',scrollbars=0' +
                   ',width=' + l_width +
                   ',height=' + l_height +
                   ',left=0' +
                   ',top=0';

    launchApplication.winrefs['webcam'] = window.open('/office/client/webcam', 'webcam', l_params);
    launchApplication.winrefs['webcam'].moveTo(0,0);
    launchApplication.winrefs['webcam'].resizeTo(l_width, l_height);
    launchApplication.winrefs['webcam'].opener.focus();
  }
  
  // create the customer quickly to get the customer id
  $.post('/ajax/getcustomer', $('#results').serialize(), function(customer) {
      // have customer returned, set the value
      launchApplication.winrefs['webcam'].document.getElementById('customerid').value = customer.id;
  }, 'json');
  launchApplication.winrefs['webcam'].focus();
  return false;
}
</script>