<br /><br />
<div id="view-content">
<?= $this->placeholder('headtitle')->set('Office > Client Search');  ?>
    <?php if(isset($this->created) && $this->created == 1)
    {
        ?>New Account Successfully Created<br /><br /><?php
    } ?>
    <form name="search" method="post" action="/office/client/results" onsubmit="return delayNameCheck();">
        <input type="hidden" id="middleName" name="middle_name" value="" />
        <input type="hidden" id="address_1" name="address_1" value="" />
        <input type="hidden" id="address_2" name="address_2" value="" />
        <input type="hidden" id="city" name="city" value="" />
        <input type="hidden" id="state" name="state" value="" />
        <input type="hidden" id="zip_code" name="zip_code" value="" />
        <input type="hidden" id="picture" name="picture" value="" />
        <input type="hidden" id="picture_mimetype" name="picture_mimetype" value="" />
        <table id="id-form">
			<tbody>
				<tr>
					<th>
							<h2>Scan License:</h2>
					</th>
					<td>
						<input type="text" name="scanlicense" id="scanlicense" onkeyup="javascript:licenseCheck(this);" class="inp-form">
						<br />
						<div id="waitmsg">&nbsp;</div>
						<br />
					</td>
				</tr>
			</tbody>
		</table>
		<h1>Search:</h1>
		<label>* Required Field</label>
		<table id="id-form">
			<tbody>
				<tr>
					<th>
							First Name <label>*</label>:
					</th>
					<td>
						<input type="text" name="firstName" id="firstName" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
							Last Name <label>*</label>:
					</th>
					<td>
						<input type="text" name="lastName" id="lastName" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>	
				<tr>
					<th>
						Date of Birth (YYYYMMDD) <label>*</label>:
					</th>
					<td>
						<input type="text" name="dob" id="dob" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
							License #:
					</th>
					<td>
						<input type="text" name="license" id="license" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<td colspan="2">
							<input type="submit" value="" class="form-submit" />
							<input type="reset" value="" class="form-reset"  />
					</td>
				</tr>
			</tbody>
		</table>
    </form>
</div>
<script type="text/javascript">
function scanLicense()
{
    $.post('/ajax/scanlicense', { license: $('#scanlicense').val() }, function(ret) {
        // if ret is an object, we've got good data
        if(ret.customer.first_name)
        {
            // fill out the form
            $('#firstName').val(ret.customer.first_name);
            $('#lastName').val(ret.customer.last_name);
            $('#dob').val(ret.customer.date_of_birth.substring(0,4) + ret.customer.date_of_birth.substring(5,7) + ret.customer.date_of_birth.substring(8,10));
            $('#license').val(ret.customer.drivers_license_number);
            $('#middleName').val(ret.customer.middle_name);
            $('#address_1').val(ret.customer.address_1);
            $('#address_2').val(ret.customer.address_2);
            $('#city').val(ret.customer.city);
            $('#state').val(ret.customer.state);
            $('#zip_code').val(ret.customer.zip_code);
            $('#picture').val(ret.customer.picture);
            $('#picture_mimetype').val(ret.customer.picture_mimetype);
        }
    }, 'json');
    $('#waitmsg').html('&nbsp;');
}

function licenseCheck()
{
    $('#waitmsg').html('Examining drivers license...');
    setTimeout(scanLicense, 1500); // scans the license after a 2 s delay
}

function delayNameCheck()
{
    $('#waitmsg').html('Checking...');
    setTimeout(scanLicense, 1500); // check for everything
    setTimeout(nameCheck, 2000);
}

function nameCheck()
{
    // check if there are first name, last name & DOB set
    if($('#firstName').val() == '' || $('#lastName').val() == '' || $('#dob').val() == '')
    {
        alert('First name, Last name & Date of Birth are required');
        return false;
    }
    if(!(!isNaN($('#dob').val()) && isFinite($('#dob').val()) && $('#dob').val().length == 8))
    {
        alert('Date of birth must be in YYYYMMDD format');
        return false;
    }
    return true;
}

function delay()
{
    setTimeout(null, 1500); // set a
}

$(document).ready(function() { $('#scanlicense').focus(); });
</script>