<html>
    <head>
        <title>Scrapyard Webcam</title>
    </head>    
    <body>
        <button type="button" onclick="javascript:testButton();">Test Button</button>
        <button type="button" onclick="javascript:takePic();">Take Picture</button>
        <input type="hidden" id="customerid" name="customer_id" value="" />
        <br />
        <div id="webcam"></div>
<script src="/js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery/jquery.webcam.js"></script>
<script type="text/javascript">
    $(function() {

	$("#webcam").webcam({

		width: 320,
		height: 240,
		mode: "save",
		swffile: "/jscam.swf",

		onCapture: function () {
			webcam.save();
		},
onSave: function(data) {

    var col = data.split(";");
    var img = image;

    for(var i = 0; i < 320; i++) {
        var tmp = parseInt(col[i]);
        img.data[pos + 0] = (tmp >> 16) & 0xff;
        img.data[pos + 1] = (tmp >> 8) & 0xff;
        img.data[pos + 2] = tmp & 0xff;
        img.data[pos + 3] = 0xff;
        pos+= 4;
    }

    if (pos >= 4 * 320 * 240) {
        ctx.putImageData(img, 0, 0);
        pos = 0;
    }
},
		debug: function (type, string) {
			console.log(type + ": " + string);
		}
	});

});
</script>
<script type="text/javascript">
function testButton()
{
    alert($('#customerid').val());
}
function takePic()
{
    webcam.debug('go','nice');
    webcam.save('/ajax/takepicture');
}
</script>
</body>
</html>
