<style type="text/css" media="print">
	#product-table {display:none}
	h1 {display:none}
	button {display:none;}
	label {display:none}
	.display {display:none}
	img {display:none}
	#tag {display: none}
	#welcome {display:none}
	.printdisplay {color:#000; font-weight: bold;}
	#ticket { color:#000!important; font-weight: bold;margin-bottom: 40px; float: none; font-size:14px;}
	#commentsbox {display:none;}
	</style>

<div id="view-content">
<h1>Ticket Information</h1>
<?php if ($this->corp): ?>
    <form action="/yard/ticket/create/corp/<?= $this->corpid?0:$this->corp->id ?>">
	<?php if ($this->corpid): ?>
	Ticket For: <?= $this->corp->name ?><br/>
	<input type="submit" value="Convert to Personal Ticket">
	<?php else: ?>
	Ticket For: <?= $this->customer->first_name . ' ' . $this->customer->last_name ?><br/>
	<input type="submit" value="Convert to Corporate Ticket">
	<?php endif; ?>
    </form>
<?php endif; ?>
    <form name="ticket" id="ticketform" enctype="multipart/form-data" action="/yard/clients/results" method="post">
	<input type="hidden" name="customer_id" value="<?= $this->customer->id ?>" />
        <input type="hidden" name="corporate_ticket" value="<?= $this->corpid ?>" />
        <input type="hidden" name="sig_string" id="sig_string" value="" />
		<input type="hidden" name="login_id" value="<?= $this->login_id ?>" />
        <div id="addressblock">

		<table style="width: 80%;">
			<tbody>
			<tbody>
			<tr valign="center">
				<td style="width: 25%" >&nbsp</td>
				<td>
					<p class="display">
						<label for="tag_state">Tag State</label>						
						<select id="tag_state" name="tag_state">
							<option value="AL">AL</option>	 
							<option value="AK">AK</option>
							<option value="AZ">AZ</option>
							<option value="AR">AR</option>
							<option value="CA">CA</option>
							<option value="CO">CO</option>
							<option value="CT">CT</option>
							<option value="DE">DE</option>
							<option value="DC">DC</option>
							<option value="FL">FL</option>
							<option value="GA">GA</option>
							<option value="HI">HI</option>
							<option value="ID">ID</option>
							<option value="IL">IL</option>
							<option value="IN">IN</option>
							<option value="IA">IA</option>
							<option value="KS">KS</option>
							<option value="KY">KY</option>
							<option value="LA">LA</option>
							<option value="ME">ME</option>
							<option value="MD">MD</option>
							<option value="MA">MA</option>
							<option value="MI">MI</option>
							<option value="MN">MN</option>
							<option value="MS">MS</option>
							<option value="MO">MO</option>
							<option value="MT">MT</option>
							<option value="NE">NE</option>
							<option value="NV">NV</option>
							<option value="NH">NH</option>
							<option value="NJ">NJ</option>
							<option value="NM">NM</option>
							<option value="NY">NY</option>
							<option value="NC">NC</option>
							<option value="ND">ND</option>
							<option value="OH" selected>OH</option>
							<option value="OK">OK</option>
							<option value="OR">OR</option>
							<option value="PA">PA</option>
							<option value="RI">RI</option>
							<option value="SC">SC</option>
							<option value="SD">SD</option>
							<option value="TN">TN</option>
							<option value="TX">TX</option>
							<option value="UT">UT</option>
							<option value="VT">VT</option>
							<option value="VA">VA</option>
							<option value="WA">WA</option>
							<option value="WV">WV</option>
							<option value="WI">WI</option>
							<option value="WY">WY</option>
						</select>
					</p>	
				</td>
				<td>		
					<p class="display">
						<label for="tag">Number</label>
						<input type="text" class="inp-form" id="tag" name="tag" placeholder="Tag #" required="required" />
					</p>	
				</td>						
			</tr>
			<tr>
					<td>
					<?php if (!$this->corpid): ?>
						<p class="printdisplay"><br /><?= $this->customer->first_name . ' ' . $this->customer->last_name ?><br /></p>
					<?php else: ?>
						<p class="printdisplay"><br /><?= $this->corp->name ?><br /></p>
					<?php endif; ?>
							<p class="display">
								<?= $this->customer->address_1 ?><br />
								<?= $this->customer->address_2 ?><br />
								<?= $this->customer->city ?> <?= $this->customer->state ?>  <?= $this->customer->zip_code ?>
							</p>
					</td>
					<td>
						<p class="display">
							<?= date('F d, Y') ?><br />
					<?php if (!$this->corpid): ?>
							License # <?= $this->customer->drivers_license_number ?>
					<?php endif; ?>
						</p>
					</td>
					<td>

						<br /><br />EPA Form?<input type="textbox" class="inp-form" id="epaform" name="epaform" />
						<br /><br />
							<label for="visittype">Visit Type</label>
								<select id="visittype" name="visittype">
									<option value="walkup">Walk Up</option>
									<option value="pushcart">Push Cart</option>
									<option value="vehicle">Vehicle</option>
								</select>
						</p>
					</td>
					<td id="commentsbox">
						Comments:<br />
						<textarea rows="4" cols="50" name="comments" id="comments" placeholder="Comments" class="inp-form"></textarea>
					</td>
				</tr>		
			</tbody>
		</table>
        </div>
        <div id="ticket"></div>
        <table id="product-table">
            <thead>
				<tr>
					<th class="table-header-repeat line-left"><a href="">Description</a></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Gross</a>	</th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Tare</a></th>
					<th class="table-header-repeat line-left"><a href="">Net</a></th>
					<th class="table-header-repeat line-left"><a href="">Price</a></th>
					<th class="table-header-options line-left"><a href="">Amount</a></th>
				</tr>
            </thead>
            <tbody>
                <?php
				$i = 1;
                foreach($this->metals as $metal)
                {
					if($i%2) {
						echo '<tr class="metal">';
						} else {
						echo '<tr class="metal alternate-row">';
						}
                    ?>
						<td><?= $metal->name ?></td>
                        <td><input type="text" id="gross<?= $metal->id ?>" name="gross<?= $metal->id ?>" onblur="calculateNet(<?= $metal->id ?>);" onclick="this.select()" value="0" /></td>
                        <td><input type="text" id="tare<?= $metal->id ?>" name="tare<?= $metal->id ?>" onblur="calculateNet(<?= $metal->id ?>);" onclick="this.select()" value="0" /></td>
                        <td><input type="text" id="net<?= $metal->id ?>" class="metalnet" name="net<?= $metal->id ?>" value="0" disabled="disabled" /></td>

			<td><input type="hidden" id="ppuorig<?= $metal->id ?>" name="ppuorig<?= $metal->id ?>" value="<?= $metal->price_per_unit ?>" /><span id="ppuspan<?= $metal->id ?>"><?= number_format($metal->price_per_unit, 3, '.', ',') ?></span>&nbsp;<button style="display:none;" type="button" class="ppubtns" id="ppubtn<?= $metal->id ?>">Edit</button></td>
                        <td>$<span id="amt<?= $metal->id ?>" class="itemamt">0.00</span></td>
                    </tr><?php
							$i++;
						}
                ?>
                    <tr>
                        <td colspan="7">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: right;"><h2>Total Amount:<h2></td><td><h2>$<span id="amttotal">0.00</span></h2></td>
                    </tr>
            </tbody>
        </table>
    </form>
    <br />
    <button class="form-blue" id="submitButton" type="button" onclick="javascript:postTicket();">Post Ticket</button>
</div>
<script type="text/javascript">
curPpuVal = new Array();
function editPpu(id)
{
    // get the current val
    curPpuVal[id] = $('#ppuspan'+id).html();
    $('#ppubtn'+id).unbind('click');
    $('#ppubtn'+id).click(function()
    {
        var thisId = $(this).attr('id').substring(6);
        
        // reset to the old value
        $('#ppuspan'+thisId).html(curPpuVal[thisId]);
        $(this).html('Edit');
        $(this).unbind('click');
        $(this).click(function()
        {
            editPpu(id);
        });
    }
    );
    $('#ppubtn'+id).html('Cancel');
    // make the input
    $('#ppuspan'+id).html('<input type="text" name="ppu'+id+'" id="ppu'+id+'" onkeyup="calculateNet('+id+')" value="'+curPpuVal[id]+'" />');
}

function calculateNet(id)
{
    if(parseInt($('#tare'+id).val()) > parseInt($('#gross'+id).val()))
        {
        // values are reversed, so put the tare value in red
        $('#tare'+id).css('background-color','yellow');
        $('#gross'+id).css('background-color','yellow');
        $('#tare'+id).css('color','red');
        $('#gross'+id).css('color','red');
        $('#tare'+id).focus();
        $('#tare'+id).select();
        return;
        }
    $('#tare'+id).css('background-color','');
    $('#tare'+id).css('color','');
    $('#gross'+id).css('background-color','');
    $('#gross'+id).css('color','');
    var s = $('#gross' + id).val() - $('#tare' + id).val();
    // round to nearest .25 lb
    var sum = (Math.round(s * 4) / 4).toFixed(2);
    $('#net' + id).val(sum);
    var ppuOrig = $('#ppuorig' + id).val();
    if(document.getElementById('ppu'+id) !== null)
    {    
        var ppu = $('#ppu' + id).val();
    }
    else
    {
        var ppu = ppuOrig;
    }
    //$('#amt' + id).html(formatDollar($('#net' + id).val() * $('#ppu' + id).html()));
    $('#amt' + id).html(formatDollar($('#net' + id).val() * ppu));
    var s = 0;
    $('.itemamt').each(function(i)
    { 
        var num = parseFloat($(this).html().replace(/[^0-9-.]/g, ''));
        s += Number(num);
    } );
    $('#amttotal').html(formatDollar(s));
}

function formatDollar(num)
{
    var p = num.toFixed(2).split(".");
    return p[0].split("").reverse().reduce(function(acc, num, i, orig) {
        return  num + (i && !(i % 3) ? "," : "") + acc;
    }, "") + "." + p[1];
}


function checkPost()
{
    var doIt = false;
    $('.metal').each(function()
    {
        if($('.metalnet', this).val() != 0)
        {
            doIt = true;
        }
    });
    return doIt;
}

function postTicket()
{
    if(checkPost())
    {	
          // var SigPlus1 = jQuery("#SigPlus1").get()[0];
           //SigPlus1.TabletState = 0; //Turns tablet off
           //S//igPlus1.SigCompressionMode = 1; //Compresses the signature at a 2.5 to 1 ratio, making it smaller...to display the signature again later, you WILL HAVE TO set the SigCompressionMode of the new SigPlus object = 1, also
           //SigPlus1.TabletState = 0;
           //SigPlus1.SetEncryptionMode = 0;
           //SigPlus1.SigCompressionMode = 2;
           //var string = SigPlus1.SigString;
           //$('#sig_string').val(string);
    $.post('/ajax/createticket', $('#ticketform').serialize(), function(ticket) {
        $('#ticket').html('Ticket #' + ticket);
        $('.metal').each(function()
        {
            if($('.metalnet', this).val() == 0)
            { 
                this.parentNode.removeChild(this);
            }
        });
        window.print();
		$('#submitButton').attr("disabled", "disabled");	
        //window.location = '/yard/client/search';
    }, 'text');
    }
    else
    {
        alert("No metal has been added to this ticket");
    }
}

//function startSign() {
  //  var SigPlus1 = jQuery("#SigPlus1").get()[0];
  //  SigPlus1.TabletState = 1; //Turns tablet on
//}

$(document).ready(function() { 
    $('#tag').select();
    $('.ppubtns').each(function() {
        var thisId = $(this).attr('id').substring(6);
        $(this).click(function() { editPpu(thisId); } );
    });
});


</script>
