<br /><br />

<div id="view-content" style="float: left; width:30%;">
	<h1>Daily Till</h1>
	Enter date to view:<br />
    <form name="scaleSelect" id="scaleSelect" action="<?= $this->url() ?>" method="post">
        <input type="text" name="txtDate" id="txtDate" value="<?= $this->escape(date('Y-m-d', $this->date)) ?>"/><br />
        <select name="scale_id">
            <option value=""<?php if(!isset($this->scale_id) || $this->scale_id == '') echo ' selected="selected"'; ?>>All Scales</option>
            <?php
            $scale = new SY_Model_Scale();
            $scales = $scale->findAll();
            foreach($scales as $thisScale)
            {
                ?><option value="<?= $thisScale->id ?>"<?php if(isset($this->scale_id) && $this->scale_id == $thisScale->id) echo ' selected="selected"'; ?>><?= $thisScale->name ?></option>
                <?php
            }
            ?>
        </select>
        <input type="submit">
    </form>
<br /><br />
							<b>Starting Amount:  </b>

							<?php
                            $acc = $this->acc;
                            if($acc === false)
                            {
                                echo "Start of Day Amount Not Set!";
                            }
                            else
                            {
                                echo '$'.number_format($acc->balance, 2, '.', ',');
                            }
                            ?>
							<br /><br />
							<b>Uncommitted Transactions:</b>  $<?= number_format($this->total_open,2) ?>
						<br /><br />
							<b>Completed Transactions:</b>  $<?= number_format($this->total_closed,2) ?>
							<br /><br />
							<b>Remainder Balance:  </b>$<?= number_format(($acc->balance-$this->total_closed),2)?>
							<!--this input is used to calculate the difference between the system's calculated remainder
							from tickets, and what the bill entry system calculates-->
							<input id="hiddenremainder" value="<?= $acc->balance-$this->total_closed?>" type="hidden"/>
							<br /><br />
							<button class="form-blue" type="button" onclick="javascript:printTicket();">Print</button>
<br /><br />
</div>
<div id="view-content" style="float: right; width:60%;">
<br />
<h2>Enter Miscellaneous Amount:</h2>
<input type="text" size="20" id="miscMoney"/>
<br /><br />
<div style="float: left; width:45%;">
<h2>Enter Till Amounts:</h2><br /><br />
	<table id="product-table" style="float: left;">
            <thead>
				<tr>
					<th class="table-header-repeat line-left"><a href="">Desc.</a></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Amounts</a></th>
				</tr>
        </thead>
        <tbody>
            <tr>					
                <td>Hundreds</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="hundreds"/></td>
            </tr>
			<tr class="alternate-row">
			    <td>Fifties</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="fifties"/></td>
			</tr>
            <tr>					
                <td>Twenties</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="twenties"/></td>
            </tr>
			<tr class="alternate-row">
			    <td>Tens</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="tens"/></td>
			</tr>
            <tr>					
                <td>Fives</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="fives"/></td>
            </tr>
			<tr class="alternate-row">
			    <td>Ones</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="ones"/></td>
			</tr>
			<tr class="alternate-row">
			    <td>Quarters</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="quarters"/></td>
			</tr>
            <tr>					
                <td>Dimes</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="dimes"/></td>

            </tr>
			<tr class="alternate-row">
			    <td>Nickels</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="nickels"/></td>
			</tr>
            <tr>					
                <td>Pennies</td>
                <td><input onblur="updateTillAmounts()" type="text" size="20" id="pennies"/></td>
            </tr>
			<tr>
				<td style="text-align: right;"><b>Total:</b></td>
				<td id="total"></td>
			</tr>			
		</tbody>
	</table>
</div>
<div style="float: left; width:45%;">
<h2>Enter Safe Amounts:</h2><br /><br />
		<table id="product-table">
            <thead>
				<tr>
					<th class="table-header-repeat line-left"><a href="">Desc.</a></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Amounts</a></th>
				</tr>
        </thead>
        <tbody>
            <tr>					
                <td>Hundreds</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safehundreds"/></td>
            </tr>
			<tr class="alternate-row">
			    <td>Fifties</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safefifties"/></td>
			</tr>
            <tr>					
                <td>Twenties</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safetwenties"/></td>
            </tr>
			<tr class="alternate-row">
			    <td>Tens</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safetens"/></td>
			</tr>
            <tr>					
                <td>Fives</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safefives"/></td>
            </tr>
			<tr class="alternate-row">
			    <td>Ones</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safeones"/></td>
			</tr>
			<tr class="alternate-row">
			    <td>Quarters</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safequarters"/></td>
			</tr>
            <tr>					
                <td>Dimes</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safedimes"/></td>

            </tr>
			<tr class="alternate-row">
			    <td>Nickels</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safenickels"/></td>
			</tr>
            <tr>					
                <td>Pennies</td>
                <td><input onblur="updateSafeAmounts()" type="text" size="20" id="safepennies"/></td>
            </tr>
			<tr>
				<td style="text-align: right;"><b>Total:</b></td>
				<td id="totalsafe"></td>
			</tr>		
		</tbody>
	</table>
	<br />
	<button class="form-green" type="button" onclick="javascript:compareTotals();">Compare</button>
	<div class="message" id="comparisonmessage" style="display:none;"></div>
</div>
	</div>
<script type="text/javascript">
function printTicket()
{
    window.print();
}
function updateTillAmounts()
{
	$("#comparisonmessage").hide();
	var dollartotal = $("#hundreds").val()*1 + $("#fifties").val()*1 + $("#twenties").val()*1 + $("#tens").val()*1 + $("#fives").val()*1 + $("#ones").val()*1 + $("#quarters").val()*1 + $("#dimes").val()*1 + $("#nickels").val()*1 + $("#pennies").val()*1;
	$("#total").html("$" + parseFloat(dollartotal).toFixed(2));
}

function updateSafeAmounts()
{
	$("#comparisonmessage").hide();
	var safedollartotal = $("#safehundreds").val()*1 + $("#safefifties").val()*1 + $("#safetwenties").val()*1 + $("#safetens").val()*1 + $("#safefives").val()*1 + $("#safeones").val()*1 + $("#safequarters").val()*1 + $("#safedimes").val()*1 + $("#safenickels").val()*1 + $("#safepennies").val()*1;
	$("#totalsafe").html("$" + parseFloat(safedollartotal).toFixed(2));
}

function compareTotals() {

var dollartotal = $("#hundreds").val()*1 + $("#fifties").val()*1 + $("#twenties").val()*1 + $("#tens").val()*1 + $("#fives").val()*1 + $("#ones").val()*1 + $("#quarters").val()*1 + $("#dimes").val()*1 + $("#nickels").val()*1 + $("#pennies").val()*1;
var safedollartotal = $("#safehundreds").val()*1 + $("#safefifties").val()*1 + $("#safetwenties").val()*1 + $("#safetens").val()*1 + $("#safefives").val()*1 + $("#safeones").val()*1 + $("#safequarters").val()*1 + $("#safedimes").val()*1 + $("#safenickels").val()*1 + $("#safepennies").val()*1;
var counttotals = dollartotal + safedollartotal +$("#miscMoney").val()*1;

if (($("#hiddenremainder").val()) != counttotals)
	{
		//somethings off
		//alert($("#hiddenremainder").val() + " <->  " + dollartotal);
		$("#comparisonmessage").show();
		if ($("#hiddenremainder").val() > counttotals) {
				$("#comparisonmessage").html("<h3 style='color: #CC3232!important;'>There appears to be a discrepancy. <br /></h3><br />Your calculated remainder from tickets shows an amount of <b>$"+$("#hiddenremainder").val()+"</b><br /> and the amount shown from bill entry shows <b>$" + (counttotals).toFixed(2)+".</b> which is a difference of <b style='background-color: yellow;'>$" + ($("#hiddenremainder").val()-counttotals).toFixed(2) +".</b>");
			} else {
				$("#comparisonmessage").html("<h3 style='color: #CC3232!important;'>There appears to be a discrepancy. <br /></h3><br />Your calculated remainder from tickets shows an amount of <b>$"+$("#hiddenremainder").val()+"</b><br /> and the amount shown from bill entry shows <b>$" + (counttotals).toFixed(2)+".</b> which is a difference of <b style='background-color: yellow;'>$" + (counttotals-$("#hiddenremainder").val()).toFixed(2) +".</b>");
			}
		
	}else{
		//alert("everything balances!");
		$("#comparisonmessage").show();
		$("#comparisonmessage").html("<h3 style='color: green!important;'>Everything appears to balance!<br /></h3>");
	}
	}


</script>