<br /><br />
<div id="view-content">
    <h1>Ticket Report</h1>
    <form name="scaleSelect" id="scaleSelect" action="<?= $this->url() ?>" method="post">
        From: <input type="text" name="beginDate" id="beginDate" value="<?= $this->escape(date('Y-m-d', $this->start_date)) ?>"/>	To: <input type="text" name="endDate" id="endDate" value="<?= $this->escape(date('Y-m-d', $this->end_date)) ?>"/><br />
        <br />Filter by Scale:
		<select name="scale_id">
            <option value=""<?php if(!isset($this->scale_id) || $this->scale_id == '') echo ' selected="selected"'; ?>>All Scales</option>
            <?php
            $scale = new SY_Model_Scale();
            $scales = $scale->findAll();
            foreach($scales as $thisScale)
            {
                ?><option value="<?= $thisScale->id ?>"<?php if(isset($this->scale_id) && $this->scale_id == $thisScale->id) echo ' selected="selected"'; ?>><?= $thisScale->name ?></option>
                <?php
            }
            ?>
        </select>
		<br />
		Filter by User:
		<select name="login_id">
            <option value=""<?php if(!isset($this->login_id) || $this->login_id == '') echo ' selected="selected"'; ?>>All Users</option>
            <?php
            $login = new SY_Model_Login();
            $logins = $login->findAll();
            foreach($logins as $thisLogin)
            {
                ?><option value="<?= $thisLogin->id ?>"<?php if(isset($this->login_id) && $this->login_id == $thisLogin->id) echo ' selected="selected"'; ?>><?= $thisLogin->name ?></option>
                <?php
            }
            ?>
        </select>
		<br />
        <input type="submit">
    </form>
    <table id="product-table">
        <thead>
            <tr>
				<th class="table-header-repeat line-left"><a href="#">Ticket #</a></th>
				<th class="table-header-repeat line-left"><a href="#">Date Created</a></th>
                <th class="table-header-repeat line-left"><a href="#">Name</a></th>
                <th class="table-header-repeat line-left"><a href="#">Amount Paid</a></th>
            </tr>
        </thead>
        <tbody>
		
         <?php // get the sum
		 
	 	$total = 0; //set up a $ total at the bottom
		$num = 0;
		 if(is_array($this->ticketInfo) && count($this->ticketInfo) > 0) {
		  foreach($this->ticketInfo as $thisTicket)
			{
				//customer info
				$customerId = $thisTicket->customer_id;
				$cu = new SY_Model_Customer();
				$cu->id = $customerId;
				$cust = $cu->findOne();

				$corpId = $thisTicket->corporate_ticket;
				if ($corpId == 0) { $corpId = -1; }
				$co = new SY_Model_Corporate();
				$co->id = $corpId;
				$corp = $co->findOne();
			
				//get money totals
				$pu = new SY_Model_Purchase();
				$pu->ticket_id = $thisTicket->id;
				$purs = $pu->findAll();
				$sum = 0;
				
				foreach($purs as $thisPur)
				{
					$sum += $thisPur->price_per_unit * ($thisPur->gross - $thisPur->tare);
				}
				$total += $sum;
				$num += 1;
        ?>
		
		<tr>
            <td><a href="/office/transaction/view/id/<?= $thisTicket->id ?>"><?= $thisTicket->ticketNumber() ?></a></td>
	    <td><?= date("m/d/Y",strtotime($thisTicket->date_created)) ?></td>
			<?php if ($corp): ?>
			<td><?= $corp->name ?></td>
			<?php else: ?>
			<td><?= $cust->first_name . ' ' . $cust->last_name ?></td>
			<?php endif; ?>
			<td style="text-align: right;">$<?= number_format($sum, 2, '.', ',') ?></td>		
        </tr>
		
			<?php
				} //end for each
				} else { //no results found
				?>
				<tr>
				<td colspan="3">No results found</td>
				</tr>
			<?php
			} // end if ticketInfo is set and greather than 0
			?>
			<tr><td></td><td></td><td><b>Count: <?= $num ?></b></td><td><b>Total: $<?= number_format($total, 2, '.', ',') ?></b></td></tr>
    </table>
	<br /><br />
	<button class="form-blue" type="button" onclick="javascript:printTicket();">Print</button>
</div>
<script type="text/javascript">
function printTicket()
{
    window.print();
}
</script>
</script>
