<br /><br />
<div id="view-content">
    <h1>Transaction Report</h1>
    <form name="scaleSelect" id="scaleSelect" action="<?= $this->url() ?>" method="post">
        From: <input type="text" name="beginDate" id="beginDate" value="<?= $this->escape(date('Y-m-d', $this->start_date)) ?>"/><br />
        To: <input type="text" name="endDate" id="endDate" value="<?= $this->escape(date('Y-m-d', $this->end_date)) ?>"/><br />
        <select name="scale_id">
            <option value=""<?php if(!isset($this->scale_id) || $this->scale_id == '') echo ' selected="selected"'; ?>>All Scales</option>
            <?php
            $scale = new SY_Model_Scale();
            $scales = $scale->findAll();
            foreach($scales as $thisScale)
            {
                ?><option value="<?= $thisScale->id ?>"<?php if(isset($this->scale_id) && $this->scale_id == $thisScale->id) echo ' selected="selected"'; ?>><?= $thisScale->name ?></option>
                <?php
            }
            ?>
        </select>
        <input type="submit">
    </form>
    <table id="product-table">
        <thead>
            <tr>
                <th class="table-header-repeat line-left"><a href="#">Name</a></th>
                <th class="table-header-repeat line-left"><a href="#">Open Ticket Weight</a></th>
                <th class="table-header-repeat line-left"><a href="#">Open Ticket $</a></th>
                <th class="table-header-repeat line-left"><a href="#">Closed Ticket Weight</a></th>
                <th class="table-header-repeat line-left"><a href="#">Closed Ticket $</a></th>
                <th class="table-header-repeat line-left"><a href="#">Total Weight</a></th>
                <th class="table-header-repeat line-left"><a href="#">Total $</a></th>
            </tr>
        </thead>
        <?php
            $total = array();
            $total['open']['weight'] = 0;
            $total['open']['money'] = 0;
            $total['closed']['weight'] = 0;
            $total['closed']['money'] = 0;
        ?>
        <tbody>
            <?php foreach ($this->metaltotals as $metal): ?>
            <?php
            $total['open']['weight'] += $metal['open']['weight'];
            $total['open']['money'] += $metal['open']['money'];
            $total['closed']['weight'] += $metal['closed']['weight'];
            $total['closed']['money'] += $metal['closed']['money'];
            ?>
            <tr>
                <td><?= $metal['detail']->name ?></td>
                <td><?= number_format($metal['open']['weight'],0) ?></td>
                <td>$<?= number_format($metal['open']['money'],2) ?></td>
                <td><?= number_format($metal['closed']['weight'],0) ?></td>
                <td>$<?= number_format($metal['closed']['money'],2) ?></td>
                <td><?= number_format($metal['open']['weight']+$metal['closed']['weight'],0) ?></td>
                <td>$<?= number_format($metal['open']['money']+$metal['closed']['money'],2) ?></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
        <tfoot>
            <tr>
                <th>Totals</td>
                <th><?= number_format($total['open']['weight'],0) ?></th>
                <th>$<?= number_format($total['open']['money'],2) ?></th>
                <th><?= number_format($total['closed']['weight'],0) ?></th>
                <th>$<?= number_format($total['closed']['money'],2) ?></th>
                <th><?= number_format($total['open']['weight']+$total['closed']['weight'],0) ?></th>
                <th>$<?= number_format($total['open']['money']+$total['closed']['money'],2) ?></th>
            </tr>
            </tr>
        </tfoot>
    </table>
	<br /><br />
							<button class="form-blue" type="button" onclick="javascript:printTicket();">Print</button>
</div>
<script type="text/javascript">
function printTicket()
{
    window.print();
}
</script>