
<?php
   if ( isset($this-> end_Date) ) {
	   $endDate = $this-> end_Date;
   } else { 
	   $endDate = date('Y-m-d');
	}   
   if ( isset($this-> begin_Date) )
	   $beginDate = $this-> begin_Date;
   else 
	   $beginDate = date('Y-m-d');

 ?>
<div id="view-content">
    <h1>Tickets Upload To The State Report</h1>
    <form name="uploadSelect" id="uploadSelect" action="<?= $this->url() ?>" method="post">
		<br />
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>From</td><td><input type="text" name="beginDate" id="beginDate" value="<?= $beginDate ?>"/></td>	
	</tr>
	<tr><td>&nbsp</td><td>&nbsp</td></tr>
	<tr>
		<td>To</td><td><input type="text" name="endDate" id="endDate" value="<?= $endDate ?>"/></td>	
	</tr>
	<tr><td>&nbsp</td><td>&nbsp</td></tr>
	<tr>      
		<td><button class="form-blue" type="button" name="Query" value="Query" onClick="this.form.submit()">Query</button></td>
	<tr>
	<tr><td>&nbsp</td><td>&nbsp</td></tr></table>
    <table id="product-table">
        <thead>
            <tr>
				<th class="table-header-repeat line-left"><a href="#">Ticket #</a></th>
				<th class="table-header-repeat line-left"><a href="#">Date Created</a></th>
                <th class="table-header-repeat line-left"><a href="#">Name</a></th>
                <th class="table-header-repeat line-left"><a href="#">Amount Paid</a></th>
                <th class="table-header-repeat line-left"><a href="#">Status</a></th>
                <th class="table-header-repeat line-left"><a href="#">Code</a></th>
                <th class="table-header-repeat line-left"><a href="#">Message</a></th>				
			</tr>
        </thead>
        <tbody>
		
         <?php // get the sum
		 
	 	$total = 0; //set up a $ total at the bottom
		$num = 0;
		 if(is_array($this->ticketInfo) && count($this->ticketInfo) > 0) {
			$bootstrap = Zend_Controller_Front::getInstance()->getParam('bootstrap');
			$options = $bootstrap->getOptions(APPLICATION_ENV);				
			foreach($this->ticketInfo as $thisTicket)
			{
				//customer info
				$customerId = $thisTicket[0];
			
				//get money totals
				$pu = new SY_Model_Purchase();
				$pu->ticket_id = $thisTicket[0];
				$purs = $pu->findAll();
				$sum = 0;
				
				foreach($purs as $thisPur)
				{
					$sum += $thisPur->price_per_unit * ($thisPur->gross - $thisPur->tare);
				}
				$total += $sum;
				$num += 1;
		
        ?>
		
		<tr>
            <td><?= $thisTicket[3] ?></td>
	        <td><?= $thisTicket[2] ?></td>		
			<?php if ( $thisTicket[1] != "0" ): ?>
			<td><?=  $thisTicket[5] ?></td>
			<?php else: ?>
			<td><?= $thisTicket[6] . ' ' . $thisTicket[7] ?></td>
			<?php endif; ?>
			<td style="text-align: right;">$<?= number_format($sum, 2, '.', ',') ?></td>		
			<td><?=$thisTicket[4]?></td>
			<td><?=$thisTicket[8]?></td>
			<?php if (strlen($thisTicket[10]) > 0 ) {?>
				<td><?=$thisTicket[10]?></td>
			<?php } else {?>
				<td><?=$thisTicket[9]?></td>
			<?php } ?>
        </tr>
		
		<?php
			} //end for each
		} else { //no results found
		?>
				<tr>
				<td colspan="3">No results found</td>
				</tr>
		<?php
			} // end if ticketInfo is set and greather than 0
		?>
			<tr><td></td><td></td><td><b>Count: <?= $num ?></b></td><td><b>Total: $<?= number_format($total, 2, '.', ',') ?></b></td></tr>
    </table>
	<br /><br />
	<table>
	  <tr>
	    <td> <button class="form-blue" type="button" onclick="javascript:printTicket();">Print</button></td>		
	  <tr>
	</table>
    </form>
</div>
<script type="text/javascript">
function printTicket()
{
    window.print();
}
</script>
<script>
function uploadtickets()
{
document.getElementById("uploadSelect").submit();
}
</script>


