<?php
$this->headScript()->appendFile('/js/jquery/jquery.dataTables.min.js');
$this->headScript()->appendScript(<<<EOT
   $(document).ready(function() {
    $('#product-table').dataTable( {
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "/office/blacklist/ajax-datatable"
    } );
   } );
EOT
);

?>
<div id="view-content">
    <form name="blupdate" action="/office/blacklist/updatelist" method="post" enctype="multipart/form-data">

            <h1>Choose New Blacklist CSV (last update <?= $this->escape($this->last_update) ?>):</h1>

        
		<input type="file" name="blacklist" value="Choose File:"/>
        <br />
        <input class="form-blue" type="submit" value="Submit"/>
    </form>
	
	<br /><br />
	<h2>View/Search Do Not Buy List</h2>
    <br />
	
    <div id="dynamic">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="product-table">
            <thead>
                    <tr>
                            <th class="table-header-repeat line-left"><a href="#">DL State</a></th>
                            <th class="table-header-repeat line-left"><a href="#">DL Number</a></th>
                            <th class="table-header-repeat line-left"><a href="#">First Name</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Last Name</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Middle Name</a></th>
                            <th class="table-header-repeat line-left"><a href="#">DOB</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Sex</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Conviction Case</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Conviction Date</a></th>
                    </tr>
            </thead>
            <tbody>
                    <tr>
                            <td colspan="5" class="dataTables_empty">Loading data from server</td>
                    </tr>
            </tbody>
            <tfoot>
                    <tr>
                            <th class="table-header-repeat line-left"><a href="#">DL State</a></th>
                            <th class="table-header-repeat line-left"><a href="#">DL Number</a></th>
                            <th class="table-header-repeat line-left"><a href="#">First Name</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Last Name</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Middle Name</a></th>
                            <th class="table-header-repeat line-left"><a href="#">DOB</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Sex</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Conviction Case</a></th>
                            <th class="table-header-repeat line-left"><a href="#">Conviction Date</a></th>
                    </tr>
            </tfoot>
        </table>
    </div>
</div>