/* 
    Document   : print
    Created on : Oct 29, 2012, 5:04:33 AM
    Author     : wlightning
    Description:
        Purpose of the stylesheet follows.
*/

*	{
	margin: 0;
	padding: 0;
	}
html, body	{
	height: 100%;
	}
body	{
	background: #fff;
	color: #393939;
	font-family: Arial;
	font-size: 14px;
	}

#page-top-outer {
    display: none;
}

.nav-outer {
    display: none;
}
.sized {display:none}

#compinfo {display: block!important;}
a { color: #000; text-decoration: none;}

/*#product-table	{
	margin: 80px 20px;
	}*/

#product-table	th	{
	height: 30px;
	background-color: gray;
	padding: 4px;
	}
#product-table	th a	{
	color: #FFF;
	}
	
.table-header-repeat	{
	background: url(/images/table/table_header_repeat.jpg) repeat-x;
	border: none;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0 0;
	}
.table-header-options a,
 .table-header-repeat a	{
	/*background: url(/images/table/table_sort_arrow.gif) right no-repeat;*/
	color: #fff;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
	}
	
#product-table	.minwidth-1	{
	min-width: 110px;
	}
#product-table tr	{
	border: 1px solid #d2d2d2;
	padding: 4px;
	}
button {display:none!important;}
#SignBtn  {display:none}
#welcome {display:none;}
