
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MGE - Industrial Scrap Processors</title>
<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" title="default" />
<!--  jquery core -->
<script src="js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>

<!-- Custom jquery scripts -->
<script src="js/login.js" type="text/javascript"></script>

<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
<script src="js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
$(document).pngFix( );
});
</script>
</head>
<body id="login-bg"> 
 
<!-- Start: login-holder -->
<div id="login-holder">

	<!-- start logo -->
	<div id="logo-login">
		<a href="index.html"><img src="images/shared/logo.png" width="156" height="40" alt="" /></a>
	</div>
	<!-- end logo -->
	
	<div class="clear"></div>
	
	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">
	
	<!--  start login-inner -->
	<div id="login-inner">
            <form action="<?= $this->url(array('action' => 'process')) ?>" method="post" onsubmit="return checkScale();">
		<table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="2">
                        <?php echo($this->flashMessages()); ?>
                    </th>
                </tr>
		<tr>
			<th>Username</th>
			<td><input name="username" type="text" class="login-inp" /></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input name="password" type="password" class="login-inp" /></td>
		</tr>
		<tr>
			<th>Scale</th>
			<td>
                <select id="scale" name="scale">
                    <option value="">Select Scale...</option>
                    <?php
                    // get all scales
                    $scale = new SY_Model_Scale();
                    $scales = $scale->findAll();
                    foreach($scales as $thisScale)
                    {
                        ?><option value="<?= $thisScale->id ?>"><?= $thisScale->name ?></option><?php
                    }
                    ?>
                </select>
            </td>
		</tr>
		<tr>
			<th></th>
			<td><input type="submit" class="submit-login"  /></td>
		</tr>
		</table>
            </form>
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
	<!--<a href="" class="forgot-pwd">Forgot Password?</a>-->
 </div>
 <!--  end loginbox -->
 
	<!--  start forgotbox ................................................................................... -->
	<div id="forgotbox">
		<div id="forgotbox-text">Please send us your email and we'll reset your password.</div>
		<!--  start forgot-inner -->
		<div id="forgot-inner">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th>Email address:</th>
			<td><input type="text" value=""   class="login-inp" /></td>
		</tr>
		<tr>
			<th> </th>
			<td><input type="button" class="submit-login"  /></td>
		</tr>
		</table>
		</div>
		<!--  end forgot-inner -->
		<div class="clear"></div>
		<a href="" class="back-login">Back to login</a>
	</div>
	<!--  end forgotbox -->

</div>
<script type="text/javascript">
function checkScale()
{
    if($('#scale').val() == '')
    {
        alert('Please select your scale');
        return false;
    }
    else
    {
        return true;
    }
}
</script>
<!-- End: login-holder -->
</body>
</html>