<br /><br />
<div id="view-content">
<h1>Daily Starting Balance</h1>
    <?php
    //if($this->alreadyDone)
    //{
        ?>
        <p><?= $this->balanceMessage; ?></p>
        <?php
    //}
    //else
    //{
        ?>
		<br /><br />
        <form name="account" method="post">
        	<strong>Select Date:</strong><br />
        	<input type="text" name="txtDate" value="<?= $this->date; ?>" /> <br /><br />
            <strong>Enter account balance the selected date:</strong><br />
            $<input type="text" name="balance" onblur="checkNumeric(this)" value="0.00" />
			<input type="hidden" name="dbid" value="<?= $this->dbid?>"/><br /><br />
            <input type="submit" value="Submit" />
        </form>
        <?php
    //}
    ?>
</div>
<script type="text/javascript">
function checkNumeric(objName)
  {
    objName.value = objName.value.replace(/\,/g,'');
  }      
</script>