<br /><br />
<div id="view-content">
    <form name="ticket" id="ticketform" action="/office/transaction/update" method="post">
        <input type="hidden" name="customer_id" value="<?= $this->customer->id ?>" />
        <input type="hidden" name="ticket_id" value="<?= $this->ticket->id ?>" />
        <div id="addressblock">
		<br /><br />
		<?php
						$base64 = base64_encode($this->customer->picture);
						?><img style="float: left; margin-right: 5px;" src="data:<?= $this->customer->picture_mimetype ?>;base64,<?= $base64 ?>" /><br />
			<p><?= $this->customer->first_name . ' ' . $this->customer->last_name ?></p>
			<p><?= $this->customer->address_1 ?></p>
			<p><?= $this->customer->address_2 ?></p>
			<p><?= $this->customer->city ?> <?= $this->customer->state ?>  <?= $this->customer->zip_code ?></p>
        </div>
        <div id="ticket">Ticket #<?= $this->ticket->ticketNumber() ?></div>
        <br />
        <b>License #:</b> <?= $this->customer->drivers_license_number ?>
        <br />
	<br />
	<label for="date">Ticket Date</label><br/>
	<input type="text" class="inp-form" id="date" name="date" value="<?= date('F d, Y H:i:s', strtotime($this->ticket->date_created)) ?>"/><br/>
        <label for="tag">Tag State</label><br />
        <select id="tag_state" name="tag_state">
        	<option value="AL">AL</option>	 
        	<option value="AK">AK</option>
        	<option value="AZ">AZ</option>
        	<option value="AR">AR</option>
        	<option value="CA">CA</option>
        	<option value="CO">CO</option>
        	<option value="CT">CT</option>
        	<option value="DE">DE</option>
        	<option value="DC">DC</option>
        	<option value="FL">FL</option>
        	<option value="GA">GA</option>
        	<option value="HI">HI</option>
        	<option value="ID">ID</option>
        	<option value="IL">IL</option>
        	<option value="IN">IN</option>
        	<option value="IA">IA</option>
        	<option value="KS">KS</option>
        	<option value="KY">KY</option>
        	<option value="LA">LA</option>
        	<option value="ME">ME</option>
        	<option value="MD">MD</option>
        	<option value="MA">MA</option>
        	<option value="MI">MI</option>
        	<option value="MN">MN</option>
        	<option value="MS">MS</option>
        	<option value="MO">MO</option>
        	<option value="MT">MT</option>
        	<option value="NE">NE</option>
        	<option value="NV">NV</option>
        	<option value="NH">NH</option>
        	<option value="NJ">NJ</option>
        	<option value="NM">NM</option>
        	<option value="NY">NY</option>
        	<option value="NC">NC</option>
        	<option value="ND">ND</option>
        	<option value="OH" selected>OH</option>
        	<option value="OK">OK</option>
        	<option value="OR">OR</option>
        	<option value="PA">PA</option>
        	<option value="RI">RI</option>
        	<option value="SC">SC</option>
        	<option value="SD">SD</option>
        	<option value="TN">TN</option>
        	<option value="TX">TX</option>
        	<option value="UT">UT</option>
        	<option value="VT">VT</option>
        	<option value="VA">VA</option>
        	<option value="WA">WA</option>
        	<option value="WV">WV</option>
        	<option value="WI">WI</option>
        	<option value="WY">WY</option>
        </select>
        
        <br />
        <label for="tag">Tag #</label><br />
        <input type="text" class="inp-form" id="tag" name="tag" placeholder="Tag #" />
        <br />
        <br />
        <table id="product-table">
            <thead>
				<tr>
					<th class="table-header-check"><a id="toggle-all" class=" "></a> </th>
					<th class="table-header-repeat line-left"><a href="">Description</a></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Gross</a>	</th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Tare</a></th>
					<th class="table-header-repeat line-left"><a href="">Net</a></th>
					<th class="table-header-repeat line-left"><a href="">Price</a></th>
					<th class="table-header-options line-left"><a href="">Amount</a></th>
				</tr>
            </thead>
            <tbody>
                <?php
				$i = 1;
                foreach($this->metals as $metal)
                {
                    $thisPurchase = null;
                    // step through each line item, find if this metal is in it
                    foreach($this->purchases as $thisP)
                    {
                        if($thisP->metal_id == $metal->id)
                        {
                            $thisPurchase = $thisP;
                        }
                    }
					if($i%2) {
						echo '<tr class="metal">';
						} else {
						echo '<tr class="metal alternate-row">';
						}
                    ?>
						<td></td>
						<td><?= $metal->name ?></td>
                        <td><input type="text" id="gross<?= $metal->id ?>" name="gross<?= $metal->id ?>" onblur="calculateNet(<?= $metal->id ?>);" onclick="this.select()" value="<?= !is_null($thisPurchase) ? $thisPurchase->gross : '0' ?>" /></td>
                        <td><input type="text" id="tare<?= $metal->id ?>" name="tare<?= $metal->id ?>" onblur="calculateNet(<?= $metal->id ?>);" onclick="this.select()" value="<?= !is_null($thisPurchase) ? $thisPurchase->tare : '0' ?>" /></td>
                        <td><input type="text" id="net<?= $metal->id ?>" class="metalnet" name="net<?= $metal->id ?>" value="<?= !is_null($thisPurchase) ? ($thisPurchase->gross - $thisPurchase->tare) : '0' ?>" disabled="disabled" /></td>
                        
                        <td><input type="hidden" id="ppuorig<?= $metal->id ?>" name="ppuorig<?= $metal->id ?>" value="<?= $metal->price_per_unit ?>" /><span id="ppuspan<?= $metal->id ?>"><?= number_format($metal->price_per_unit, 2, '.', ',') ?></span>&nbsp;<button type="button" class="ppubtns" id="ppubtn<?= $metal->id ?>">Edit</button></td>
                        <td>$<span id="amt<?= $metal->id ?>" class="itemamt"><?= !is_null($thisPurchase) ? number_format($thisP->price_per_unit * ($thisPurchase->gross - $thisPurchase->tare), 2, '.', ',') : '0.00'; ?></span></td>
                    </tr><?php
					$i++;
                }
                ?>
                    <tr>
                        <td colspan="7">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: right;"><h2>Total Amount:<h2></td><td><h2>$<span id="amttotal">0.00</span></h2></td>
                    </tr>
            </tbody>
        </table>
        <input type="submit" class="form-blue" value="Save Changes" />
    </form>
    <br />
	
</div>
<script type="text/javascript">
curPpuVal = new Array();
function editPpu(id)
{
    // get the current val
    curPpuVal[id] = $('#ppuspan'+id).html();
    $('#ppubtn'+id).unbind('click');
    $('#ppubtn'+id).click(function()
    {
        var thisId = $(this).attr('id').substring(6);
        
        // reset to the old value
        $('#ppuspan'+thisId).html(curPpuVal[thisId]);
        $(this).html('Edit');
        $(this).unbind('click');
        $(this).click(function()
        {
            editPpu(id);
        });
    }
    );
    $('#ppubtn'+id).html('Cancel');
    // make the input
    $('#ppuspan'+id).html('<input type="text" name="ppu'+id+'" id="ppu'+id+'" onkeyup="calculateNet('+id+')" value="'+curPpuVal[id]+'" />');
}

function calculateNet(id)
{
    if(parseInt($('#tare'+id).val()) > parseInt($('#gross'+id).val()))
        {
        // values are reversed, so put the tare value in red
        $('#tare'+id).css('background-color','yellow');
        $('#gross'+id).css('background-color','yellow');
        $('#tare'+id).css('color','red');
        $('#gross'+id).css('color','red');
        $('#tare'+id).focus();
        $('#tare'+id).select();
        return;
        }
    $('#tare'+id).css('background-color','');
    $('#tare'+id).css('color','');
    $('#gross'+id).css('background-color','');
    $('#gross'+id).css('color','');
    var s = $('#gross' + id).val() - $('#tare' + id).val();
    // round to nearest .25 lb
    var sum = (Math.round(s * 4) / 4).toFixed(2);
    $('#net' + id).val(sum);
    var ppuOrig = $('#ppuorig' + id).val();
    if(document.getElementById('ppu'+id) !== null)
    {    
        var ppu = $('#ppu' + id).val();
    }
    else
    {
        var ppu = ppuOrig;
    }
    //$('#amt' + id).html(formatDollar($('#net' + id).val() * $('#ppu' + id).html()));
    $('#amt' + id).html(formatDollar($('#net' + id).val() * ppu));
    var s = 0;
    $('.itemamt').each(function(i)
    { 
        var num = parseFloat($(this).html().replace(/[^0-9-.]/g, ''));
        s += Number(num);
    } );
    $('#amttotal').html(formatDollar(s));
}

function formatDollar(num)
{
    var p = num.toFixed(2).split(".");
    return p[0].split("").reverse().reduce(function(acc, num, i, orig) {
        return  num + (i && !(i % 3) ? "," : "") + acc;
    }, "") + "." + p[1];
}

$(document).ready(function() {
    $('#tag').select();
    $('.ppubtns').each(function() {
        var thisId = $(this).attr('id').substring(6);
        $(this).click(function() { editPpu(thisId); } );
    });
    
    $('#tag_state').val('<?= $this->ticket->tag_state ?>');
        $('#tag').val('<?= $this->ticket->tag ?>');
    
});
</script>
