<br /><br />
<div id="view-content">
<?= $this->placeholder('headtitle')->set('Office -> Open Tickets');  ?>
    <!-- View all open tickets to choose which one to view -->
    <?php
    if(is_array($this->tickets) && count($this->tickets) > 0)
    {
    ?>
	<h1>Open Tickets</h1>
    <table id="product-table">
        <thead>
            <tr>
                <th class="table-header-repeat line-left"><a href="">Ticket #</a></th>
                <th class="table-header-repeat line-left"><a href="">Amount Due</a></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach($this->tickets as $aTicket)
            {
                // calculate amount due
                $pur = new SY_Model_Purchase();
                $pur->ticket_id = $aTicket->id;
                $purs = $pur->findAll();
                $tot = 0;
                foreach($purs as $thisPur)
                {
                    $tot += ($thisPur->gross - $thisPur->tare) * $thisPur->price_per_unit;
                }
                ?><tr><td><a href="/office/transaction/view/id/<?= $aTicket->id ?>"><?= $aTicket->ticketNumber() ?></a></td>
                  <td>$<?= number_format($tot, 2, '.', ','); ?></td>
                  </tr>
                  <?php
            }
            ?>
        </tbody>
    </table>
    <?php
    }
    else
    {
        ?>No open tickets for this customer.<?php
    }
    ?>
</div>