<br /><br />
<div id="view-content">
<h1>Search for Tickets</h1>
    <?php
    if(isset($this->orphans) && $this->orphans)
    {
        ?>Orphaned Tickets<br /><br />
        <form name="orphans" method="post" action="/admin/transaction/moveorphans">
        <table id="product-table">
            <thead>
                <tr>
                    <th class="table-header-repeat line-left"><a href="#">Ticket #</a></td>
                    <th class="table-header-repeat line-left"><a href="#">Amount</a></td>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach($this->orphans as $orp)
                {
                    // get the sum of the transaction
                    $pu = new SY_Model_Purchase();
                    $pu->ticket_id = $orp->id;
                    $purs = $pu->findAll();
                    $sum = 0;
                    foreach($purs as $thisPur)
                    {
                        $sum += $thisPur->price_per_unit * ($thisPur->gross - $thisPur->tare);
                    }
                    ?>
                <tr>
                    <td><?= $orp->ticketNumber() ?></td>
                    <td>$<?= number_format($sum, 2, '.', ',') ?></td>
                </tr>
                <?php
                }
                ?>
            </tbody>
        </table>
        </form>
        <br /><br />
        <?php } /* endif($this->orphans) */ ?>
        <table id="product-table">
            <thead>
                <tr>
                    <!--th class="table-header-repeat line-left"><a href="#">Select</a></th-->
                    <th class="table-header-repeat line-left"><a href="#">Ticket #</a></th>
                    <th class="table-header-repeat line-left"><a href="#">Amount</a></th>
                </tr>
            </thead>
            <tbody>
                <?php
    $customerId = 0;
    if(is_array($this->tickets) && count($this->tickets) > 0)
    foreach($this->tickets as $thisTicket)
    {
        if($thisTicket->customer_id !== $customerId)
        {
            $customerId = $thisTicket->customer_id;
            $cu = new SY_Model_Customer();
            $cu->id = $customerId;
            $cust = $cu->findOne();
            ?><tr>
                <th class="table-header-repeat line-left" colspan="3"><a href="#">Tickets for <?= $cust->first_name ?> <?= $cust->last_name ?></a></td>
            </tr>
            <?php
        }
        // get the sum
        $pu = new SY_Model_Purchase();
        $pu->ticket_id = $thisTicket->id;
        $purs = $pu->findAll();
        $sum = 0;
        foreach($purs as $thisPur)
        {
            $sum += $thisPur->price_per_unit * ($thisPur->gross - $thisPur->tare);
        }
        ?><tr>
            <!--td><input type="checkbox" name="tickets[]" value="<?= $thisTicket->id ?>" onchange="" /></td-->
            <td><a href="/office/transaction/view/id/<?= $thisTicket->id ?>"><?= $thisTicket->ticketNumber() ?></a></td>
            <td style="text-align: right;">$<?= number_format($sum, 2, '.', ',') ?></td>
        </tr>
        <?php
    }
    else
    {
        ?><tr><td colspan="3">No <?= ucfirst($this->tickettype) ?> Tickets Found</td></tr>
        <?php
    }
    ?></tbody>
        </table>
        <button type="button" class="form-blue" onclick="window.location = '<?= $this->url(array('tickettype' => ($this->tickettype == 'open' ? 'closed' : 'open'))) ?>'"><?= $this->tickettype == 'open' ? 'Closed' : 'Open' ?> Tickets</button>
        <br />
        <div id="searchmsg"></div>
        <form name="searchtransactions" id="searchtransactions" action="/admin/transaction/viewall" method="post">
            <label for="customer">Search for Transactions by Customer Last Name</label>
            <input type="hidden" id="customer_id" name="customer_id" value="" />
            <input type="text" name="customer" id="searchcust" value="" onkeyup="this.value=this.value.toUpperCase();waitSearch(this)" />
            <button type="button" class="form-blue" id="custsubmit" style="display:none;" onclick="javascript:$('#searchtransactions').submit();">Get Transactions</button>
        </form>
</div>
<script type="text/javascript">
    

function waitSearch(ele)
{
    $('#searchmsg').html('Searching customers...');
    setTimeout(searchTransactions, 1000);
}

function searchTransactions()
{
    // search for all transactions where the last name starts with the form value
    $.post('/ajax/searchtransactions', $('#searchtransactions').serialize(), function(cust) {
        if($.isArray(cust))
        {
            var c = $.parseJSON(cust[0]);
            if(c !== null)
            {
            $('#customer_id').val(c.id);
            $('#searchcust').val(c.last_name + ", " + c.first_name);
            $('#searchcust').focus();
            $('#searchcust').select();
            $('#custsubmit').show();
            }
        }
        else
        {
            $('#custsubmit').hide();
        }
        $('#searchmsg').html('');
    }, "json");
}
</script>