<br /><br />
<script type="text/javascript" src="/js/webcam.js"></script>
<style type="text/css" media="print">
/* Tickets */
#ticket {
    font-size: 18px;
    font-weight: bold;
}
#corpbutton {display:none;}
</style>

<div id="view-content">
    <form name="ticket" id="ticketform" enctype="multipart/form-data" action="<?= $this->url(array('action' => 'close')) ?>" method="post">
        <input type="hidden" name="id" value="<?= $this->ticket->id ?>" />
        <input type="hidden" name="customer_id" value="<?= $this->customer->id ?>" />
        <input type="hidden" name="sig_string" id="sig_string" value="" />
		
		<div id="compinfo" style="display:none;">
			Mark Gray Enterprises, LLC<br />
			464 N. Highland Ave<br />
			Columbus, OH 43204<br />
			614.272.0555<br />
		</div>

	<?php if (!$this->ticket->corporate_ticket): ?>
        <?php if(is_null($this->picture))
        { ?>
		<div id="picturediv">
        <label for="picture">Upload New Picture:</label><br />
        <div id="screen"></div>
        <div id="buttons">
        	<button id="shootButton" type="button">1. Capture</button>
            <br />
        	<button id="uploadButton" type="button">2. Save</button>
            <br />
            <button id="cancelButton" type="button">Cancel</button> 
        </div>
        <input type="file" class="inp-form" id="picture" name="picture" required="required" />
        <br />
        <button type="button" onclick="javascript:updatePhoto();">Update Photo</button>
        <br />
        </div>
	<?php } ?>
	<?php endif; ?>
		<table style="width:100%;">
			<tr>
			<td style="width:25%;"><b><?= date('F d, Y H:i:s', strtotime($this->ticket->date_created)) ?></b>
				<br />
	<?php if ($this->ticket->corporate_ticket): ?>
			<p><b><?= $this->corp->name ?></b></p>
	<?php else: ?>
			<p><b><?= $this->customer->first_name . ' ' . $this->customer->last_name ?></b></p>
	<?php endif; ?>
			<p><?= $this->customer->address_1 ?></p>
			<p><?= !is_null($this->customer->address_2) ? '' : $this->customer->address_2;?></p>
			<p><?= $this->customer->city ?> <?= $this->customer->state ?>  <?= $this->customer->zip_code ?></p>
	<?php if (!$this->ticket->corporate_ticket): ?>
			<p><b>License #:</b></td><td><?= $this->customer->drivers_license_number ?></p>
	<?php endif; ?>
		</td>
		<td style="width:25%;">
			<table>
				<tr>
					<td style="text-align:right; padding-right:3px;"><b>Visit Type:</b></td><td><?= $this->ticket->visittype; ?></td>
				</tr>
				<tr>
					<td style="text-align:right; padding-right:3px;"><b>Tag State:</b></td><td><?= $this->ticket->tag_state ?></td>
				</tr>
				<tr>
					<td style="text-align:right; padding-right:3px;"><b>Tag #:</b></td><td><?= $this->ticket->tag ?></td>
				</tr>
				<tr>
					<td style="text-align:right; padding-right:3px;"><b>Scale:</b></td><td><?= $this->scale ?></td>
				</tr>
				<tr>
					<td style="text-align:right; padding-right:3px;"><b>Logged-in User:</b></td><td><?= isset($this->login) ? $this->login : 'Unknown' ?></td>
				</tr>
			</table>
		</td>
		<td style="width:28%;text-align: center; padding: 0 2% 0 2%">
			<?php if ($this->ticket->TicketComments !== '') { ?>
			<?php echo $this->ticket->TicketComments ?>
			<?php } ?>
		</td>
		<td id="ticket" style="width:30%;text-align:center;">
			Ticket #<?= $this->ticket->ticketNumber() ?>
			<?php if ($this->ticket->epaform !== '') { ?>
			<div id="epaformreq">EPA Form Required: <?php echo $this->ticket->epaform ?></div>
			<?php } ?>
			</td>
			</tr>
		</table>
		<table style="width:100%;">
			<tr>
	<?php if ($this->ticket->corporate_ticket): ?>
				<td></td>
	<?php else: ?>
				<td style="vertical-align:top;"><?php
				$base64 = !is_null($this->picture) ? base64_encode($this->picture) : base64_encode($this->customer->picture);
			?><img style="margin-right: 5px;" id="ticketpic" src="data:<?= !is_null($this->picture) ? 'image/jpg' : $this->customer->picture_mimetype ?>;base64,<?= $base64 ?>" />
			<br />
			<?php
					if(!empty($this->customer->picture))
					{
						$base64 = base64_encode($this->customer->picture);
						?><img src="data:<?= $this->customer->picture_mimetype ?>;base64,<?= $base64 ?>" />
                        <br />
						<?php
					}
                    else
                    {
                        echo '&nbsp;';
                    }
					?>
			</td>
	<?php endif; ?>
			<td style="vertical-align:top;" colspan="2"> 
			<table id="product-table">
            <thead>
            <tr>
                <th class="table-header-repeat line-left"><a href="#">Gross</a></th>
				<th class="table-header-repeat line-left"><a href="#">Tare</a></th>
				<th class="table-header-repeat line-left"><a href="#">Net</a></th>
				<th class="table-header-repeat line-left"><a href="#">Description</a></th>
				<th class="table-header-repeat line-left"><a href="#">Price</a></th>
				<th class="table-header-repeat line-left"><a href="#">Amount</a></th>
            </tr>
            </thead>
            <tbody>
                <?php
                $total = 0;
                foreach($this->metals as $metal)
                {
                    // step through each line item, find if this metal is in it
                    foreach($this->purchases as $thisP)
                    {
                        if($thisP->metal_id == $metal->id)
                        {
                            ?>
                                <tr class="metal">
                        <td style="text-align: center;"><span id="net<?= $metal->id ?>" class="metalnet"><?= $thisP->gross ?></span></td>
						<td style="text-align: center;"><span id="net<?= $metal->id ?>" class="metalnet"><?= $thisP->tare ?></span></td>
						<td style="text-align: center;"><span id="net<?= $metal->id ?>" class="metalnet"><?= ($thisP->gross - $thisP->tare) ?></span></td>
                        <td><?= $metal->name ?></td>
                        <td style="text-align: right;"><input type="hidden" name="ppu<?= $metal->id ?>" value="<?= $thisP->price_per_unit ?>" /><span id="ppu<?= $metal->id ?>"><?= number_format($thisP->price_per_unit, 3, '.', ',') ?></span></td>
                        <td style="text-align: right;">$<span id="amt<?= $metal->id ?>" class="itemamt"><?= number_format($thisP->price_per_unit * ($thisP->gross - $thisP->tare), 2, '.', ','); ?></span></td>
                    </tr>
                <?php
                        $total += ($thisP->price_per_unit * ($thisP->gross - $thisP->tare));
                        }
                    }
                }
                ?>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: right;"><h2>Total Amount:</h2></td><td><h2>$<span id="amttotal"><b><?= number_format($total, 2, '.', ','); ?></b></span></h2></td>
                    </tr>
            </tbody>
        </table>
				</td>
			</tr>
		</table>
		
       
		<br />
				<div style="font-size:8pt;">
				<b>PURCHASE CONTRACT AGREEMENT<br />
				SELLER'S WARRANTY REGARDING HAZARDOUS SUBSTANCES AND RADIOACTIVE MATERIALS<br /></b>
				Seller hereby warrants that any material delivered to to Mark Gray Enterprises pursuant this 
				contract is not and does not contain (1) a "a hazardous substance" as defined CERCLA, 101(14) 
				or "hazardous waste" as defined in RCRA and applicable requisitions or any hazardous or toxic 
				material contaminant or pollutant as defined in any applicable federal, state, or local law 
				regulations, or pollutant as defined in waste, material or contaminant, or pollutant or any 
				spent nuclear fuel as those terms are defined in any applicable federal, state or local law 
				or regulation.  Seller also warrants that any material delivered to Mark Gray Enterprises 
				pursuant to this contract has been obtained by Seller and is being delivered to Mark Gray 
				Enterprises in compliance with and with all disclosures required by all applicable federal, 
				state or local laws and regulations.  If any liability or obligation is incurred by or imposed 
				upon Mark Gray Enterprises due upon the Seller's breach of the foregoing warranties, Seller agrees 
				to defend, indemnify, and hold Mark Gray Enterprises harmless from such liabilities or obligations 
				(including, but not limited to damages, injuries, penalties, fines, attorney's fees and expenses).
				<br /><br />
                            <p>Signature:</p>
                            <table border=0 cellpadding="0">
                            <tr>
								<td>
									 <OBJECT classid="clsid:69A40DA3-4D42-11D0-86B0-0000C025864A" height="75"
											id="SigPlus1" name="SigPlus1"
											style="HEIGHT: 180px; WIDTH: 320px; LEFT: 0px; TOP: 0px; 
											VIEWASTEXT">
									<PARAM NAME="_Version" VALUE="131095">
									<PARAM NAME="_ExtentX" VALUE="4842">
									<PARAM NAME="_ExtentY" VALUE="1323">
									<PARAM NAME="_StockProps" VALUE="0">
											</OBJECT>
                                </td>
							</tr>
                            <tr>
								<td width="115">
									<input id="SignBtn" name="SignBtn" type="button" value="Sign" onclick="startSign()" style="BACKGROUND-COLOR: #3366BB; COLOR: white; FONT: bold 8pt verdana" onmouseout="javascript:signOut()" onmouseover="javascript:signIn()">
								</td>
							</tr>
                        </table>
					</div>


    </form>
    <br /><?php
    if($this->ticket->ticket_state != '1')
    {
        ?><button class="form-blue" type="button" onclick="window.location = '/office/transaction/edit/id/<?= $this->ticket->id ?>'">Edit Ticket</button>
            <?php
    } ?>
    <button class="form-green" type="button" onclick="javascript:printTicket();">Print</button>
	<?php if (!$this->ticket->ticket_state): ?>
	<div id="corpbutton">
	<form action="/office/transaction/convert/id/<?= $this->ticket->id ?>">
		<input type="hidden" name="id" value="<?= $this->ticket->id ?>" />
		<input type="hidden" name="customer_id" value="<?= $this->customer->id ?>" />
		<?php if ($this->ticket->corporate_ticket): ?>
		<input type="submit" value="Convert to personal ticket for <?= $this->customer->first_name . ' ' . $this->customer->last_name ?>">
		<?php else: ?>
			<?php if ($this->corp): ?>
			<input type="submit" value="Convert to corporate ticket for <?= $this->corp->name ?>">
			<?php else: ?>
			Convert to corporate ticket and assign customer as representative for:
			<select name="representative">
				<?php foreach ($this->allcorps as $corp): ?>
				<option value="<?= $corp->id ?>"><?= $corp->name ?></option>
				<?php endforeach; ?>
			</select>
			<input type="submit" value="Go">
			<?php endif; ?>
		<?php endif; ?>
	</form>
	</div>
	<?php endif; ?>
	<button class="form-red" type="button" style="float:right;" onclick="javascript:deleteTicket()">Delete</button>&nbsp;
    <button class="form-blue" type="button" style="float:right;margin-right:20px;" onclick="javascript:closeTicket()">Close</button>&nbsp;
    
	
	<br /><br />
	
    
</div>
<script type="text/javascript">
    
function signOut() {
    var ev = window.event;
    if(ev.target)
    {
        ev.target.style.background = '#3366BB';
    }
    else
    {
        ev.srcElement.style.background = '#3366BB';
    }
}
    
function signIn() {
    var ev = window.event;
    if(ev.target)
    {
        ev.target.style.background = '#AFAFAF';
    }
    else
    {
        ev.srcElement.style.background = '#AFAFAF';
    }
}
function startSign() {
    var SigPlus1 = jQuery("#SigPlus1").get()[0];
    SigPlus1.TabletState = 1; //Turns tablet on
}

function printTicket()
{
    window.print();
}

function closeTicket()
{
    var SigPlus1 = jQuery("#SigPlus1").get()[0];
    SigPlus1.TabletState = 0; //Turns tablet off
    SigPlus1.SigCompressionMode = 1; //Compresses the signature at a 2.5 to 1 ratio, making it smaller...to display the signature again later, you WILL HAVE TO set the SigCompressionMode of the new SigPlus object = 1, also
    //SigPlus1.TabletState = 0;
    //SigPlus1.SetEncryptionMode = 0;
    //SigPlus1.SigCompressionMode = 2;
    var string = SigPlus1.SigString;
    $('#sig_string').val(string);
    
    $.post('<?= $this->url(array('action' => 'close')) ?>', $('#ticketform').serialize(), function(ticket) {
        window.location = '/office/transaction';
    });
    
    // window.location = '/office/transaction/close/id/<?= $this->ticket->id ?>';
}

function deleteTicket() {
    if (confirm("Aure you sure you want to delete this ticket?")) {
        $.post('<?= $this->url(array('action' => 'delete')) ?>', $('#ticketform').serialize(), function(ticket) {
            window.location = '/office/transaction';
        });
    }
}

function updatePhoto()
{
    $('#ticketform').attr('action','/office/transaction/addpictoticket');
    $('#ticketform').submit();
}

function loadSig() {
    var SigPlus1 = jQuery("#SigPlus1").get()[0];
    SigPlus1.TabletState = 0;
    SigPlus1.SigCompressionMode = 1;
    SigPlus1.SigString = '<?= $this->ticket->sig_string ?>';
}
<?php if ($this->ticket->sig_string): ?>
$(document).ready(function() {
    loadSig();
});
<?php endif; ?>
$(document).ready(function(){
	
	var camera = $('#camera'),
		screen =  $('#screen');

	/*----------------------------------
		Setting up the web camera
	----------------------------------*/


	webcam.set_swf_url('/webcam/webcam.swf');
	webcam.set_api_url('/office/transaction/addpicture/id/<?= $this->ticket->id ?>');	// The upload script
	webcam.set_quality(90);				// JPEG Photo Quality
	webcam.set_shutter_sound(true, '/webcam/shutter.mp3');

	// Generating the embed code and adding it to the page:	
	screen.html(
		webcam.get_html(screen.width(), screen.height())
	);


	/*----------------------------------
		Binding event listeners
	----------------------------------*/


	$('#shootButton').click(function(){
		webcam.freeze();
		return false;
	});
	
	$('#cancelButton').click(function(){
		webcam.reset();
		return false;
	});
	
	$('#uploadButton').click(function(){
		webcam.upload();
		webcam.reset();
		return false;
	});

	camera.find('.settings').click(function(){
		webcam.configure('camera');
	});

	/*---------------------- 
		Callbacks
	----------------------*/
	
	
	webcam.set_hook('onComplete', function(msg){
		
		// This response is returned by upload.php
		// and it holds the name of the image in a
		// JSON object format:
		
		msg = $.parseJSON(msg);
		
		if(msg.error){
			alert(msg.message);
		}
		else {
			// Adding it to the page;
            $('#ticketpic').attr('src', 'data:image/jpg;base64,' + msg.image);
            $('#picturediv').html('');
		}
	});
	
	webcam.set_hook('onError',function(e){
		screen.html(e);
	});
	
});
</script>
