<br /><br />
<div id="view-content">
    <?php if($this->blacklisted == true)
    {
        echo "BLACKLISTED";
    }
    else
    if(false === $this->customer)
    {
        ?>Please complete this form for the New Customer:
        <br />
        <br /><form name="results" action="/yard/client/create" method="post" id="results" enctype="multipart/form-data">
            <?php
            if(isset($this->formvalues['yard']))
            {
                ?><input type="hidden" name="yard" value="1" />
                <?php
            }
            ?>
		<table id="id-form">
			<tbody>
				<tr>
					<th>
						First Name (required):
					</th>
					<td>
						<input type="text" name="firstName" id="newfirstName" value="<?= $this->formvalues['firstName'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						Middle Initial:
					</th>
					<td>
						<input type="text" name="middleName" id="newmiddleName" value="<?= $this->formvalues['middle_name'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						Last Name (required):
					</th>
					<td>
						<input type="text" name="lastName" id="newlastName" value="<?= $this->formvalues['lastName'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						Date of Birth (YYYYMMDD) (required):
					</th>
					<td>
						<input type="text" name="dob" id="newdob" value="<?= $this->formvalues['dob'] ?>" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						License #:
					</th>
					<td>
						<input type="text" name="license" id="newlicense" value="<?= $this->formvalues['license'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						Address Line 1:
					</th>
					<td>
						<input type="text" name="address_1" id="newaddress_1" value="<?= $this->formvalues['address_1'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						Address Line 2 (optional):
					</th>
					<td>
						<input type="text" name="address_2" id="newaddress_2" value="<?= $this->formvalues['address_2'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						City:
					</th>
					<td>
						<input type="text" name="city" id="newcity" value="<?= $this->formvalues['city'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						State:
					</th>
					<td>
						<input type="text" name="state" id="newstate" value="<?= $this->formvalues['state'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						Zip Code:
					</th>
					<td>
						<input type="text" name="zip" id="newzip" value="<?= $this->formvalues['zip_code'] ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
						Picture:
					</th>
					<td>
						<?php
					if(!empty($this->formvalues['picture']))
					{
						$base64 = base64_encode($this->formvalues['picture']);
						?><img src="data:<?= isset($this->formvalues['picture_mimetype']) ? $this->formvalues['picture_mimetype'] : 'image/jpeg' ?>;base64,<?= $base64 ?>" /><?php
					}
					?><input type="file" name="picture_upload" /><br /><br />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="" class="form-submit" />
						<input type="reset" value="" class="form-reset"  />
					</td>
				</tr>
			</tbody>
		</table>
        </form>
        <script type="text/javascript">
            $(document).ready(function() { $('#newFirstName').select(); $('#newFirstName').focus(); });
        </script>
            <?php        
    }
    else
    {
        $customer = $this->customer;
        ?>
		<h2>Existing client found, please review, and confirm:</h2><br />
		<button type="button" class="form-submit" onclick="javascript:accept();">Confirm</button>
        <button type="button" class="form-reset" onclick="javascript:reject()">Reject</button>
		<br /><br /><br /><br />
        <form name="results" action="" id="resultsform" method="post" enctype="multipart/form-data">
			<input type="hidden" name="verified" id="verified" value="" />
			<input type="hidden" name="makechanges" id="makechanges" value="" />
		<table id="id-form">
		<tbody>
			<tr>
				<th>
					First Name (required):
				</th>
				<td>
					<input type="text" name="firstName" id="firstName" value="<?= $customer->first_name ?>"  style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Middle Initial:
				</th>
				<td>
					<input type="text" name="middleName" id="middleName" value="<?= $customer->middle_name ?>"  style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Last Name (required):
				</th>
				<td>
					<input type="text" name="lastName" id="lastName" value="<?= $customer->last_name ?>"  style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>				
				<th>
					Date of Birth (YYYYMMDD) (required):
				</th>
				<td>
					<input type="text" name="dob" id="dob" value="<?= SY_Model_Customer::formatDOB($customer->date_of_birth, true) ?>"  class="inp-form">
				</td>
			</tr>
			<tr>			
				<th>
					License #:
				</th>
				<td>
					<input type="text" name="license" id="license" value="<?= $customer->drivers_license_number ?>" style="text-transform:uppercase;"  onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>				
				<th>
					Address Line 1:
				</th>
				<td>
					<input type="text" name="address_1" id="address_1" value="<?= $customer->address_1 ?>" style="text-transform:uppercase;"  onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Address Line 2 (optional):
				</th>
				<td>
					<input type="text" name="address_2" id="address_2" value="<?= $customer->address_2 ?>" style="text-transform:uppercase;"  onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>		
				<th>
					City:
				</th>
				<td>
					<input type="text" name="city" id="newcity" value="<?= $customer->city ?>" style="text-transform:uppercase;"  onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					State:
				</th>
				<td>
					<input type="text" name="state" id="newstate" value="<?= $customer->state ?>" style="text-transform:uppercase;"  onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Zip Code:
				</th>
				<td>
					<input type="text" name="zip" id="newzip" value="<?= $customer->zip_code ?>" style="text-transform:uppercase;"  onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<?php
					if(!empty($customer->picture))
					{
						?>   
						Picture:
					<?php
						$base64 = base64_encode($customer->picture);
						?><img src="data:<?= $customer->picture_mimetype ?>;base64,<?= $base64 ?>" />
						<?php
					}
					?>
                    <span id="picture_upload"></span>
				</td>
			</tr>
		</tbody>
	</table>
        </form>
        <?php
    }
?>
</div>
<script type="text/javascript">
function accept()
{
    makeChanges();
    $('#verified').val('1');
    $('#resultsform').submit();
}
function reject()
{
    makeChanges();
    $('#verified').val('0');
    $('#resultsform').submit();
}
function makeChanges()
{
    $('#makechanges').val('1');
    $('#firstName').select();
    $('#firstName').focus();
}

</script>