<div id="view-content">
<?= $this->placeholder('headtitle')->set('Yard > Client Search');  ?>
	<form name="search" method="post" action="/yard/client/results" id="searchform">
		<input type="hidden" id="middleName" name="middle_name" value="" />
		<input type="hidden" id="address_1" name="address_1" value="" />
		<input type="hidden" id="address_2" name="address_2" value="" />
		<input type="hidden" id="city" name="city" value="" />
		<input type="hidden" id="state" name="state" value="" />
		<input type="hidden" id="zip_code" name="zip_code" value="" />
		<input type="hidden" id="picture" name="picture" value="" />
		<input type="hidden" id="picture_mimetype" name="picture_mimetype" value="" />
		<table id="id-form">
			<tbody>
				<tr>
					<th>
							<h2>Scan License:</h2>
					</th>
					<td>
						<input type="text" name="scanlicense" id="scanlicense" <?php
                        if(isset($this->formvalues) && isset($this->formvalues['scanlicense']))
                            echo 'value="' . $this->formvalues['scanlicense'] . '" ';
                        ?>onkeyup="javascript:licenseCheck(this);" class="inp-form">
						* Only enter card swipes in this box<br />
						<div id="waitmsg">&nbsp;</div>
					</td>
				</tr>
			</tbody>
		</table>
		<h1>Search:</h1>
		<label>* Required Field</label>
		<table id="id-form">
			<tbody>
			<tr>
					<td colspan="2">
							<input type="button" value="" class="form-submit" onclick="formValidate();"/>
							<input type="reset" value="" class="form-reset"  />
					</td>
				</tr>
				<tr>
					<th>
							First Name <label>*</label>:
					</th>
					<td>
						<input type="text" name="firstName" id="firstName"<?php
                        if(isset($this->formvalues) && isset($this->formvalues['firstName']))
                            { 
                                echo ' value="' . $this->formvalues['firstName'] . '" ';
                            } ?> style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
							Last Name <label>*</label>:
					</th>
					<td>
						<input type="text" name="lastName" id="lastName"<?php
                        if(isset($this->formvalues) && isset($this->formvalues['lastName']))
                            { 
                                echo ' value="' . $this->formvalues['lastName'] . '" ';
                            } ?> style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>	
				<tr>
					<th>
						Date of Birth (YYYYMMDD) <label>*</label>:
					</th>
					<td>
						<input type="text" name="dob" id="dob"<?php
                        if(isset($this->formvalues) && isset($this->formvalues['dob']))
                            { 
                                echo ' value="' . $this->formvalues['dob'] . '" ';
                            } ?> class="inp-form">
					</td>
				</tr>
				<tr>
					<th>
							License #:
					</th>
					<td>
						<input type="text" name="license" id="license" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
					</td>
				</tr>
				
			</tbody>
		</table>
	</form>

</div>
<script type="text/javascript">
var scanningLicense = false;
var validating = false;

function scanLicense()
{
    scanningLicense = true;
    $.post('/ajax/scanlicense', { license: $('#scanlicense').val() }, function(ret) {
        // if ret is an object, we've got good data
        if(ret.customer.first_name)
        {
            // fill out the form
            $('#firstName').val(ret.customer.first_name);
            $('#lastName').val(ret.customer.last_name);
            $('#dob').val(ret.customer.date_of_birth.substring(0,4) + ret.customer.date_of_birth.substring(5,7) + ret.customer.date_of_birth.substring(8,10));
            $('#license').val(ret.customer.drivers_license_number);
            $('#middleName').val(ret.customer.middle_name);
            $('#address_1').val(ret.customer.address_1);
            $('#address_2').val(ret.customer.address_2);
            $('#city').val(ret.customer.city);
            $('#state').val(ret.customer.state);
            $('#zip_code').val(ret.customer.zip_code);
            $('#picture').val(ret.customer.picture);
            $('#picture_mimetype').val(ret.customer.picture_mimetype);
        }
        else
        {
            // bad data, so clear the form
            $('#firstName').val('');
            $('#lastName').val('');
            $('#dob').val('');
            $('#license').val('');
            $('#middleName').val('');
            $('#address_1').val('');
            $('#address_2').val('');
            $('#city').val('');
            $('#state').val('');
            $('#zip_code').val('');
            $('#picture').val('');
            $('#picture_mimetype').val('');

        }
    }, 'json');
    $('#waitmsg').html('&nbsp;');
    scanningLicense = false;

    if (validating)
    {
	formValidate();
    }
}

function licenseCheck()
{
    $('#waitmsg').html('Examining drivers license...');
    scanningLicense = true;
    scanTimer = setTimeout(scanLicense, 1500); // scans the license after a 2 s delay
}

function formValidate()
{
    var formOk;

    validating = true;
    $('#waitmsg').html('Checking...');

    if (scanningLicense)
    {
	return false;
    }
    validating = false;
    formOk = nameCheck();

    $('#waitmsg').html('&nbsp;');

    if (formOk)
    {
	$('#scanlicense').val('');
	document.getElementById("searchform").submit();
    }
    return false;
}

function nameCheck()
{
    var submitBool = true;
    var field = '';

    if (!$('#firstName').val().match(/[a-z\s-]+/i))
    {
	submitBool = false;
	field = 'First Name';
    }
    if (!$('#lastName').val().match(/[a-z\s-]+/i))
    {
	submitBool = false;
	field = 'Last Name';
    }
    if (!$('#dob').val().match(/[0-9]{8}/i))
    {
	submitBool = false;
	field = 'Date of Birth';
    }

    if (submitBool)
    {
	return true;
    }

    alert('Missing or bad value in required field ' + field);
    return false;
}

$(document).ready(function() {
    $('#scanlicense').focus();
    <?php if(isset($this->formvalues)) { ?>nameCheck()
    <?php } ?>
    });
</script>
