
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MGE - <?= $this->placeholder('headtitle') ?></title>
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="default" />
<link rel="stylesheet" href="/css/print.css" type="text/css" media="print" title="default" />
<link rel="stylesheet" href="/css/webcam.css" type="text/css" media="screen" title="default" />
<link rel="stylesheet" href="/css/dropzone.css" type="text/css" media="screen" title="default" />
<!--[if IE]>
<link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css" />
<![endif]-->
<?= $this->headLink() ?>

<!--  jquery core -->
<script src="/js/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="/js/jquery/dropzone.js" type="text/javascript"></script>


<!--  checkbox styling script -->
<script src="/js/jquery/ui.core.js" type="text/javascript"></script>
<script src="/js/jquery/ui.checkbox.js" type="text/javascript"></script>
<script src="/js/jquery/jquery.bind.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$('input').checkBox();
	$('#toggle-all').click(function(){
 	$('#toggle-all').toggleClass('toggle-checked');
	$('#mainform input[type=checkbox]').checkBox('toggle');
	return false;
	});
});
</script>  

<![if !IE 7]>

<!--  styled select box script version 1 -->
<script src="/js/jquery/jquery.selectbox-0.5.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect').selectbox({ inputClass: "selectbox_styled" });
});
</script>
 

<![endif]>

<!--  styled select box script version 2 --> 
<script src="/js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
	$('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
});
</script>

<!--  styled select box script version 3 --> 
<script src="/js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
});
</script>

<!--  styled file upload script --> 
<script src="/js/jquery/jquery.filestyle.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
  $(function() {
      $("input.file_1").filestyle({ 
          image: "images/forms/choose-file.gif",
          imageheight : 21,
          imagewidth : 78,
          width : 310
      });
  });
</script>

<!-- Custom jquery scripts -->
<script src="/js/jquery/custom_jquery.js" type="text/javascript"></script>
 
<!-- Tooltips -->
<script src="/js/jquery/jquery.tooltip.js" type="text/javascript"></script>
<script src="/js/jquery/jquery.dimensions.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$('a.info-tooltip ').tooltip({
		track: true,
		delay: 0,
		fixPNG: true, 
		showURL: false,
		showBody: " - ",
		top: -35,
		left: 5
	});
});
</script> 


<!--  date picker script -->
<link rel="stylesheet" href="/css/datePicker.css" type="text/css" />
<script src="/js/jquery/date.js" type="text/javascript"></script>
<script src="/js/jquery/jquery.datePicker.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
        $(function()
{

//show the reports dropdown
$('#liReports').mouseenter(
	function(){
		$('#divReports').addClass('show');
});

$('#liReports').mouseleave(
	function(){
		
		$('#divReports').removeClass('show').delay(100);
});


// initialise the "Select date" link
$('#date-pick')
	.datePicker(
		// associate the link with a date picker
		{
			createButton:false,
			startDate:'01/01/2005',
			endDate:'31/12/2020'
		}
	).bind(
		// when the link is clicked display the date picker
		'click',
		function()
		{
			updateSelects($(this).dpGetSelected()[0]);
			$(this).dpDisplay();
			return false;
		}
	).bind(
		// when a date is selected update the SELECTs
		'dateSelected',
		function(e, selectedDate, $td, state)
		{
			updateSelects(selectedDate);
		}
	).bind(
		'dpClosed',
		function(e, selected)
		{
			updateSelects(selected[0]);
		}
	);
	
var updateSelects = function (selectedDate)
{
	var selectedDate = new Date(selectedDate);
	$('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
	$('#m option[value=' + (selectedDate.getMonth()+1) + ']').attr('selected', 'selected');
	$('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
}
// listen for when the selects are changed and update the picker
$('#d, #m, #y')
	.bind(
		'change',
		function()
		{
			var d = new Date(
						$('#y').val(),
						$('#m').val()-1,
						$('#d').val()
					);
			$('#date-pick').dpSetSelected(d.asString());
		}
	);

// default the position of the selects to today
var today = new Date();
updateSelects(today.getTime());

// and update the datePicker to reflect it...
$('#d').trigger('change');
});
</script> 
<SCRIPT LANGUAGE="JavaScript">
<!-- Begin
function CheckAll(chk)
{
for (i = 0; i < chk.length; i++)
chk[i].checked = true ;
}
function UnCheckAll(chk)
{
for (i = 0; i < chk.length; i++)
chk[i].checked = false ;
}
// End -->
</script>

<SCRIPT LANGUAGE="JavaScript">
<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
<script src="/js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
$(document).pngFix( );
});
</script>
<?= $this->headScript() ?>
</head>
<body>
    
<?php
$adminPage = $this->params['module'] == 'admin' ? true : false;
?>
<!-- Start: page-top-outer -->
<div id="page-top-outer">    

<!-- Start: page-top -->
<div id="page-top">

	<!-- start logo -->
	<div id="logo">
	<a href="/"><img src="/images/shared/logo.png" width="156" height="40" alt="" /></a>
	</div>
	<!-- end logo -->
	
	<!--  start top-search -->
	<!--<div id="top-search">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
		<td><input type="text" value="Search" onblur="if (this.value=='') { this.value='Search'; }" onfocus="if (this.value=='Search') { this.value=''; }" class="top-search-inp" /></td>
		<td>
		<select  class="styledselect">
                        <option value="account-dl">License</option>
			<option value="all">All</option>
			<option value="ticket">Tickets</option>
			<option value="metal">Metals</option>
			<option value="account">Clients</option>
		</select> 
		</td>
		<td>
		<input type="image" src="/images/shared/top_search_btn.gif"  />
		</td>
		</tr>
		</table>
	</div>-->
 	<!--  end top-search -->
 	<div class="clear"></div>

</div>
<!-- End: page-top -->

</div>
<!-- End: page-top-outer -->
	
<div class="clear">&nbsp;</div>
 
<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat"> 
<!--  start nav-outer -->
<div class="nav-outer"> 

		<!-- start nav-right -->
		<div id="nav-right">
		
			 <div class="nav-divider">&nbsp;</div>
			<div class="showhide-account"></div>
            
			<div class="nav-divider">&nbsp;</div>
			
			<a href="<?= $this->url(array('module' => 'default','controller' => 'auth', 'action' => 'index'), null, true) ?>" id="logout">
			
			<img src="/images/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
			<div class="clear">&nbsp;</div>
		
			<!--  start account-content -->	
			<div class="account-content">
			<div class="account-drop-inner">
				<a href="" id="acc-settings">Settings</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-details">Personal details </a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-project">Project details</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-inbox">Inbox</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-stats">Statistics</a> 
			</div>
			</div>
			<!--  end account-content -->
		
		</div>
		<!-- end nav-right -->


		<!--  start nav -->
		<div class="nav">
		<div class="table">
		
		<ul class="<?php if(!$adminPage) { echo 'current'; } else { echo 'select'; } ?>"><li><a href="<?= $this->url(array('module' => 'default', 'controller' => 'index', 'action' => 'index'), null, true) ?>"><b>Processes</b><!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub<?php if(!$adminPage) echo ' show'; ?>">
			<ul class="sub">
                                <?php if ($this->level() == 'yard' || $this->level() == 'office'|| $this->level() == 'admin'): ?>
				<li><a href="<?= $this->url(array('module' => 'yard', 'controller' => 'client', 'action' => 'search'), null, true) ?>">Yard</a></li>
                                <?php endif; ?>
                                <?php if ($this->level() == 'office' || $this->level() == 'admin'): ?>
                                <li><a href="<?= $this->url(array('module' => 'office', 'controller' => 'client', 'action' => 'search'), null, true) ?>">Office</a></li>
                                <?php endif; ?>
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
		<?php if ($this->level() == 'admin'): ?>
		<div class="nav-divider">&nbsp;</div>
		                    
		<ul class="<?php if($adminPage) { echo 'current'; } else { echo 'select'; } ?>">
			<li><a href="#nogo"><b>Admin</b><!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]><table><tr><td><![endif]-->
					<div class="select_sub<?php if($adminPage) echo ' show'; ?>">
						<ul class="sub">
							<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'account', 'action' => 'day'), null, true) ?>">Start of Day</a></li>
							<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'metal', 'action' => 'prices'), null, true) ?>">Metal Prices</a></li>
							<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'client', 'action' => 'search'), null, true) ?>">Clients</a></li>
							<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'transaction', 'action' => 'search'), null, true) ?>">Transactions</a></li>
							<li id="liReports"><a href="#nogo">Reports</a>
								<div id="divReports" class="select_sub">
									<ul class="sub">
										<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'report', 'action' => 'dailyticket'), null, true) ?>">Daily Ticket Report</a></li>
										<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'report', 'action' => 'basic'), null, true) ?>">Basic Report</a></li>
										<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'report', 'action' => 'detailed'), null, true) ?>">Detailed Report</a></li>
										<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'report', 'action' => 'submittickets'), null, true) ?>">Submitted Tickets</a></li>
									</ul>
								</div>
							</li>
							<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'blacklist', 'action' => 'update'), null, true) ?>">Update Do-Not-Buy List</a></li>
							<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'users'), null, true) ?>">Users</a></li>
							<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'transaction', 'action' => 'upload'), null, true) ?>">Upload Tickets</a></li>
							<li><a href="<?= $this->url(array('module' => 'admin', 'controller' => 'users', 'action' => 'wsconfig'), null, true) ?>">Upload Settings</a></li>
						</ul>
					</div>
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>
		</ul>
		
                <?php endif; ?>
		<?php if ($this->level() == 'office'): ?>
		<div class="nav-divider">&nbsp;</div>
		                    
		<ul class="<?php if($adminPage) { echo 'current'; } else { echo 'select'; } ?>"><li><a href="#nogo"><b>Office</b><!--[if IE 7]><!--></a><!--<![endif]-->
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<div class="select_sub<?php if($adminPage) echo ' show'; ?>">
			<ul class="sub">
				<li><a href="<?= $this->url(array('module' => 'office', 'controller' => 'transaction', 'action' => 'search'), null, true) ?>">Transactions</a></li>
                                <li><a href="<?= $this->url(array('module' => 'office', 'controller' => 'blacklist', 'action' => 'update'), null, true) ?>">View Do-Not-Buy List</a></li>
			</ul>
		</div>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
		</ul>
                <?php endif; ?>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
		<!--  start nav -->

</div>
<div class="clear"></div>
<!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

  <div class="clear"></div>
 
<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
<!-- start content -->
<div id="content">
	<?php //echo $this->navigation()->breadcrumbs()->setIndent(8);?>
    <?php echo($this->flashMessages()); ?>
    <div id="welcome">Welcome, <?= $this->escape($this->whoAmI()) ?></div>
	<!--  start page-heading -->
	<div id="page-heading">
		<h1><?= $this->placeholder('headtitle') ?></h1>
	</div>
	<!-- end page-heading -->
	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"><img src="/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"><img src="/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
                        <?php if ($this->layout()->showtablecontentdiv): ?>
		
			<!--  start table-content  -->
			<div id="table-content">
                        <?php endif; ?>
                            
                            <?php echo $this->layout()->content; ?>
			</div>
			<!--  end table-content  -->
                        <?php if ($this->layout()->showtablecontentdiv): ?>
			<div class="clear"></div>
                        <?php endif; ?>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
	<div class="clear">&nbsp;</div>

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->

<div class="clear">&nbsp;</div>

<?php if(1==0): // Could make optional on hosted version ?>
<!-- start footer -->         
<div id="footer">
<!-- <div id="footer-pad">&nbsp;</div> -->
	<!--  start footer-left -->
	<div id="footer-left">
	 &copy;2012 Mark Grey Enterprises. All rights reserved.</div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->
 <?php endif; ?>
</body>
</html>


