<br /><br />
<div id="view-content">
<h1>Manage Metal Prices</h1>
    <form name="metals" method="post" action="/admin/metal/updateprices">
        <?php
        if(isset($this->updated) && $this->updated == true)
        {
            echo 'Prices Updated<br /><br />
                ';
        }
        ?>
		<button class="form-blue" style="float:none;" type="button" onclick="addNewMetal()">Add</button><br />
    <table id="product-table">
            <thead>
				<tr>
					<th class="table-header-check"><a id="toggle-all" class=" "></a> </th>
					<th class="table-header-repeat line-left"><a href="">Active</a></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Order</a>	</th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Name</a></th>
					<th class="table-header-repeat line-left"><a href="">Unit Price</a></th>
				</tr>
        </thead>
        <tbody>
            <?php
			$i = 1;
            foreach($this->metals as $aMetal)
            {
					if($i%2) {
						echo "<tr>";
						} else {
						echo '<tr class="alternate-row">';
						}
                        $i++;
                ?>
					<td></td>
                    <td><input type="checkbox" name="active[<?= $aMetal->id ?>]" value="<?= $aMetal->active ? '1' : '' ?>"<?php if($aMetal->active) echo ' checked="checked"'; ?> /></td>
                    <td><input type="text" name="form_order[<?= $aMetal->id ?>]" value="<?= $aMetal->form_order + 1 ?>" /></td>
                    <td><input type="text" name="name[<?= $aMetal->id ?>]" size="50" value="<?= $aMetal->name ?>" /></td>
                    <td>$<input type="text" name="price_per_unit[<?= $aMetal->id ?>]" value="<?= $aMetal->price_per_unit ?>" /></td>
                </tr><?php
            }
            ?>
        </tbody>
    </table>
        <br />
        
			<input type="submit" value="" class="form-submit" />
			<input type="reset" value="" class="form-reset"  />
    </form>
</div>
<script type="text/javascript">
function addNewMetal()
{
    var metalTable = $('#product-table');
    var lastRow = metalTable.find("tr:first");
    var newRow = document.createElement('tr');
    // add the order id automatically
    if(!lastRow.hasClass('alternate-row'))
    {
        newRow.setAttribute('class','alternate-row');
    }
    var oldVal = 0;
    lastRow.find('td input').each(function(i) {
        if(this.name && this.name.substr(0, 5) === 'form_')
        {
            oldVal = this.value;
        }
    });
    var newMetalSortId = Number(oldVal) + 1;
    // make the row
    // start with the blank field
    var tdBlank = makeElement('td');
    // now the active selector
    // td first
    var tdActive = makeElement('td');
    var ckActiveArray = new Array();
    ckActiveArray['type'] = 'checkbox';
    ckActiveArray['value'] = '1';
    ckActiveArray['checked'] = 'checked';
    var ckActive = makeElement('input','activenew[]',ckActiveArray);
    tdActive.appendChild(ckActive);
    var tdFormOrder = makeElement('td');
    var txtOrderArray = new Array();
    txtOrderArray['type'] = 'text';
    txtOrderArray['value'] = newMetalSortId;
    var txtFormOrder = makeElement('input','form_ordernew[]',txtOrderArray);
    tdFormOrder.appendChild(txtFormOrder);
    var tdName = makeElement('td');
    var txtNameArray = new Array();
    txtNameArray['type'] = 'text';
    txtNameArray['size'] = '50';
    txtNameArray['value'] = 'New Metal';
    var txtName = makeElement('input','namenew[]',txtNameArray);
    tdName.appendChild(txtName);
    var tdPPU = makeElement('td');
    tdPPU.innerHTML = '$';
    var txtPPUArray = new Array();
    txtPPUArray['type'] = 'text';
    txtPPUArray['value'] = '0.00';
    var txtPPU = makeElement('input','price_per_unitnew[]',txtPPUArray);
    tdPPU.appendChild(txtPPU);
    // build the row
    newRow.appendChild(tdBlank);
    newRow.appendChild(tdActive);
    newRow.appendChild(tdFormOrder);
    newRow.appendChild(tdName);
    newRow.appendChild(tdPPU);
    metalTable.prepend(newRow);
}

function makeElement(typ, nam, opts)
{
    var newEl = document.createElement(typ);
    if(!(null === nam)) newEl.setAttribute('name',nam);
    if(!(null === opts))
    {
        for(var i in opts)
        {
            newEl.setAttribute(i, opts[i]);
        }
    }
    return newEl;
}
</script>