<br /><br />
<div id="view-content">
    <form name="ticket" id="ticketform" action="/admin/transaction/update" method="post">
        <input type="hidden" name="customer_id" value="<?= $this->customer->id ?>" />
        <input type="hidden" name="ticket_id" value="<?= $this->ticket->id ?>" />
        <div id="addressblock">
		<b><?= date('F d, Y', strtotime($this->ticket->date_created)) ?></b>
		<br /><br />
		<?php
						$base64 = base64_encode($this->customer->picture);
						?><img style="float: left; margin-right: 5px;" src="data:<?= $this->customer->picture_mimetype ?>;base64,<?= $base64 ?>" /><br />
			<p><?= $this->customer->first_name . ' ' . $this->customer->last_name ?></p>
			<p><?= $this->customer->address_1 ?></p>
			<p><?= $this->customer->address_2 ?></p>
			<p><?= $this->customer->city ?> <?= $this->customer->state ?>  <?= $this->customer->zip_code ?></p>
        </div>
        <div id="ticket">Ticket #<?= $this->ticket->ticketNumber() ?></div>
        <br />
        <b>License #:</b> <?= $this->customer->drivers_license_number ?>
        <br />
        <br />
        <label for="tag">Tag #</label><br />
        <input type="text" class="inp-form" id="tag" name="tag" placeholder="Tag #" />
        <br />
        <br />
        <table id="product-table">
            <thead>
				<tr>
					<th class="table-header-check"><a id="toggle-all" class=" "></a> </th>
					<th class="table-header-repeat line-left"><a href="">Description</a></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Gross</a>	</th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Tare</a></th>
					<th class="table-header-repeat line-left"><a href="">Net</a></th>
					<th class="table-header-repeat line-left"><a href="">Price</a></th>
					<th class="table-header-options line-left"><a href="">Amount</a></th>
				</tr>
            </thead>
            <tbody>
                <?php
				$i = 1;
                foreach($this->metals as $metal)
                {
                    $thisPurchase = null;
                    // step through each line item, find if this metal is in it
                    foreach($this->purchases as $thisP)
                    {
                        if($thisP->metal_id == $metal->id)
                        {
                            $thisPurchase = $thisP;
                        }
                    }
					if($i%2) {
						echo '<tr class="metal">';
						} else {
						echo '<tr class="metal alternate-row">';
						}
                    ?>
						<td></td>
						<td><?= $metal->name ?></td>
                        <td><input type="text" id="gross<?= $metal->id ?>" name="gross<?= $metal->id ?>" onblur="calculateNet(<?= $metal->id ?>);" onclick="this.select()" value="<?= !is_null($thisPurchase) ? $thisPurchase->gross : '0' ?>" /></td>
                        <td><input type="text" id="tare<?= $metal->id ?>" name="tare<?= $metal->id ?>" onblur="calculateNet(<?= $metal->id ?>);" onclick="this.select()" value="<?= !is_null($thisPurchase) ? $thisPurchase->tare : '0' ?>" /></td>
                        <td><input type="text" id="net<?= $metal->id ?>" class="metalnet" name="net<?= $metal->id ?>" value="<?= !is_null($thisPurchase) ? ($thisPurchase->gross - $thisPurchase->tare) : '0' ?>" disabled="disabled" /></td>
                        
                        <td><input type="hidden" name="ppu<?= $metal->id ?>" value="<?= $metal->price_per_unit ?>" /><span id="ppu<?= $metal->id ?>"><?= number_format($metal->price_per_unit, 2, '.', ',') ?></span></td>
                        <td>$<span id="amt<?= $metal->id ?>" class="itemamt"><?= !is_null($thisPurchase) ? number_format($thisP->price_per_unit * ($thisPurchase->gross - $thisPurchase->tare), 2, '.', ',') : '0.00'; ?></span></td>
                    </tr><?
					$i++;
                }
                ?>
                    <tr>
                        <td colspan="7">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: right;"><h2>Total Amount:<h2></td><td><h2>$<span id="amttotal">0.00</span></h2></td>
                    </tr>
            </tbody>
        </table>
        <input type="submit" class="form-blue" value="Save Changes" />
    </form>
    <br />
	
</div>
<script type="text/javascript">
function calculateNet(id)
{
    if(parseInt($('#tare'+id).val()) > parseInt($('#gross'+id).val()))
        {
        // values are reversed, so put the tare value in red
        $('#tare'+id).css('background-color','yellow');
        $('#gross'+id).css('background-color','yellow');
        $('#tare'+id).css('color','red');
        $('#gross'+id).css('color','red');
        $('#tare'+id).focus();
        $('#tare'+id).select();
        return;
        }
    $('#tare'+id).css('background-color','');
    $('#tare'+id).css('color','');
    $('#gross'+id).css('background-color','');
    $('#gross'+id).css('color','');
    var s = $('#gross' + id).val() - $('#tare' + id).val();
    // round to nearest .25 lb
    var sum = (Math.round(s * 4) / 4).toFixed(2);
    $('#net' + id).val(sum);
    $('#amt' + id).html(formatDollar($('#net' + id).val() * $('#ppu' + id).html()));
    var s = 0;
    $('.itemamt').each(function(i)
    { 
        var num = parseFloat($(this).html().replace(/[^0-9-.]/g, ''));
        s += Number(num);
    } );
    $('#amttotal').html(formatDollar(s));
}

function formatDollar(num)
{
    var p = num.toFixed(2).split(".");
    return p[0].split("").reverse().reduce(function(acc, num, i, orig) {
        return  num + (i && !(i % 3) ? "," : "") + acc;
    }, "") + "." + p[1];
}

$(document).ready(function() { $('#tag').select(); });
</script>