<br /><br />
<div id="view-content">
<h1>Tickets for <?= $this->customer->first_name ?> <?= $this->customer->last_name ?></h2>
        <table id="product-table">
            <thead>
                <tr>
					<th class="table-header-repeat line-left"><a href="#">Date</a></th>
                    <th class="table-header-repeat line-left"><a href="#">Ticket #</a></th>
                    <th class="table-header-repeat line-left"><a href="#">Amount</a></th>
                </tr>
            </thead>
            <tbody>
                <?php
    if(is_array($this->tickets) && count($this->tickets) > 0)
    {
    ?><tr>
                <th class="table-header-repeat line-left" colspan="3"><a href="#">Tickets for <?= $this->customer->first_name ?> <?= $this->customer->last_name ?></a></td>
            </tr>
            <?php
    foreach($this->tickets as $thisTicket)
    {
            $customerId = $thisTicket->customer_id;
            $cu = new SY_Model_Customer();
            $cu->id = $customerId;
            $cust = $cu->findOne();
        // get the sum
        $pu = new SY_Model_Purchase();
        $pu->ticket_id = $thisTicket->id;
        $purs = $pu->findAll();
        $sum = 0;
        foreach($purs as $thisPur)
        {
            $sum += $thisPur->price_per_unit * ($thisPur->gross - $thisPur->tare);
        }
        ?><tr>
			<td><?= date('F d, Y', strtotime($thisTicket->date_created)) ?></td>
            <td><a href="/office/transaction/view/id/<?= $thisTicket->id ?>"><?= $thisTicket->ticketNumber() ?></a></td>
            <td style="text-align: right;">$<?= number_format($sum, 2, '.', ',') ?></td>
        </tr>
        <?php
    }
    }
    else
    {
        ?><tr><td colspan="3">No <?= ucfirst($this->tickettype) ?> Tickets Found</td></tr>
        <?php
    }
    ?></tbody>
        </table>
</div>
<button class="form-blue" type="button" onclick="window.print()">Print List</button>
<script type="text/javascript">
    

function waitSearch(ele)
{
    $('#searchmsg').html('Searching customers...');
    setTimeout(searchTransactions, 1000);
}

function searchTransactions()
{
    // search for all transactions where the last name starts with the form value
    $.post('/ajax/searchtransactions', $('#searchtransactions').serialize(), function(cust) {
        if($.isArray(cust))
        {
            var c = $.parseJSON(cust[0]);
            if(c !== null)
            {
            $('#customer_id').val(c.id);
            $('#searchcust').val(c.last_name + ", " + c.first_name);
            $('#searchcust').focus();
            $('#searchcust').select();
            $('#custsubmit').show();
            }
        }
        else
        {
            $('#custsubmit').hide();
        }
        $('#searchmsg').html('');
    }, "json");
}
</script>