<form method="post" action="<?= $this->url() ?>">
    <fieldset>
        <label for="username">Username</label>: <input type="text" name="username" value="<?= $this->escape($this->user->username) ?>" /><br />
        <label for="name">Name</label>: <input type="text" name="name" value="<?= $this->escape($this->user->name) ?>" /><br />
        <label for="level">Level</label>: <?= $this->formSelect('level',$this->user->level,array(),array('admin' => 'Admin','office' => 'Office','yard' => 'Yard')) ?><br />
        <label for="password">Password</label>: <input type="password" name="password" value="" /><br />
        <label for="suspended">Suspended</label>: <input type="checkbox" name="suspended" value="1" <? if ($this->user->suspended): ?>checked<?endif;?> /><br />
        <input type="submit"  />
    </fieldset>
</form>