<?php
$this->headScript()->appendFile('/js/jquery/jquery.dataTables.min.js');

$this->headScript()->appendScript(<<<EOT
   $(document).ready(function() {
    $('#product-table').dataTable( {} );
   } );
EOT
);
?>
<div id="view-content">
<h1>Manage Users</h1>
    <a class="form-blue" href="<?= $this->url(array('action'=>'add')) ?>">Add User</a>
    <div id="dynamic">
        <table cellpadding="0" cellspacing="0" border="0" name="logins" id="product-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Suspended</th>
                    <th>Level</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        <?php
        foreach($this->logins as $thisLogin)
        {
            ?><tr id="user<?= $thisLogin->id ?>">
                <td id="id<?= $thisLogin->id ?>"><?= $thisLogin->id ?></td>
                <td id="username<?= $thisLogin->id ?>"><?= $thisLogin->username ?></td>
                <td id="name<?= $thisLogin->id ?>"><?= $thisLogin->name ?></td>
                <td><a title="Click to change" id="suspended<?= $thisLogin->id ?>" onclick="javascript:suspendUser(<?= $thisLogin->id ?>)"><?= $thisLogin->suspended ? 'Yes' : 'No' ?></a></td>
                <td id="level<?= $thisLogin->id ?>"><?= $thisLogin->level ?></td>
                <td>
                    <a href="<?= $this->url(array('action' => 'setpassword','user_id' => $thisLogin->id)) ?>"><?php if(!is_null($thisLogin->password)) { echo 'Reset'; } else { echo 'Set'; } ?> Password</a>&nbsp;|&nbsp;<a href="<?= $this->url(array('action' => 'edit', 'user_id' => $thisLogin->id)) ?>">Edit</a>&nbsp;|&nbsp;<a href="<?= $this->url(array('action'=>'delete', 'user_id' => $thisLogin->id)) ?>">Delete</a></td>
            </tr>
            <?php
        }
        ?>
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Suspended</th>
                    <th>Level</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>