<form method="post" action="<?= $this->url() ?>">
    <fieldset>
        <label for="username">Username</label>: <?= $this->escape($this->user->username) ?><br />
        <label for="name">Name</label>: <?= $this->escape($this->user->name) ?><br />
        <label for="level">Level</label>: <?= $this->escape($this->user->level) ?><br />
        <label for="password">Password</label>: <input type="password" name="password" value="" /><br />
        <input type="submit"  />
    </fieldset>
</form>