<?php $message = $this->message; ?>		
<style type="text/css">
#boldtext {
    font-size: 18px;
    font-weight: bold;
	border: 0;
}
</style>
<div id="view-content">
<h1>Web Service Configuration</h1>
	</br>
    <div id="dynamic">
	<form method="post" name="updateConfig" id="updateConfig" action="<?= $this->url() ?>">	
		<input type="hidden" name="clientrowid" value="<?= $this->rowid; ?>"  />
        <table cellpadding="0" cellspacing="0" border="0" name="logins" id="product-table">
            <tbody> 
            <tr>
                <td> State Registration Number</td>
                <td><input type="text" name="facilityRegNumber" size="17" value="<?= $this->client->facilityRegNumber; ?>" /> <br /><br /> </td>  
			</tr>	
            <tr>
                <td> State Web Site User ID</td>
                <td><input type="text" name="webServiceID" maxlength="30" size="8" value="<?= $this->client->webServiceID ?>" /> <br /><br /> </td>  
			</tr>	
            <tr>
                <td> State Web Site User Password</td>
                <td><input type="text" name="webServicePW" maxlength="30" size="8" value="<?= $this->client->webServicePW; ?>" /> <br /><br /> </td>  
			</tr>	
            </tbody> 
	    </table>
		</br>
		<table border="0" cellpadding="0" cellspacing="0">                             
			<tr> <td><input type="submit" onClick="SubmitFormAction()/><label for=""></td>
				<td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</<td><td>&nbsp</td><td>&nbsp</td>
				<td><input type="text" name="message" id="boldtext" size="80" value="<?= $this->message ?>" /></td>
			</tr>
		</table>		
	</form>	
	</div>
</div>
<script type="text/javascript">
function SubmitFormAction()
{
var msgs = document.getElementsByName("message");
msgs[0].value="";
document.getElementById("updateConfig").submit();
}
</script>
