<?php
$this->headScript()->appendFile('/js/jquery/jquery.dataTables.min.js');

$this->headScript()->appendScript(<<<EOT
   $(document).ready(function() {
    $('#product-table').dataTable( {} );
   } );
EOT
);
?>

<br /><br />
<div id="view-content">
<h1>Customer Information</h1><br/>
    <?php
        $customer = $this->customer;
        ?>
	<form action="<?= $this->url(array('controller' => 'client', 'action' => 'insert-corporate')) ?>" method="post">
            <input type="hidden" name="id" value="<?= $customer->id ?>" />
			
		<table id="id-form">
		<tbody>
			<tr>
				<th>
					Name:
				</th>
				<td>
					<input type="text" name="name" value="<?= $customer->name ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>				
				<th>
					Address Line 1:
				</th>
				<td>
					<input type="text" name="address_1" id="address_1" value="<?= $customer->address_1 ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Address Line 2 (optional):
				</th>
				<td>
					<input type="text" name="address_2" id="address_2" value="<?= $customer->address_2 ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>		
				<th>
					City:
				</th>
				<td>
					<input type="text" name="city" id="newcity" value="<?= $customer->city ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					State:
				</th>
				<td>
					<input type="text" name="state" id="newstate" value="<?= $customer->state ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Zip Code:
				</th>
				<td>
					<input type="text" name="zip_code" id="newzip" value="<?= $customer->zip_code ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<?php if($customer->date_created): ?>
			<tr>
				<th>
					Created:
				</th>
				<td>
					<input type="text" value="<?= date('m/d/Y H:i:s', strtotime($customer->date_created)) ?>" class="inp-form" DISABLED>
				</td>
			</tr>
			<?php endif; ?>
			<?php if($customer->date_modified): ?>
			<tr>
				<th>
					Last Modified:
				</th>
				<td>
					<input type="text" value="<?= date('m/d/Y H:i:s', strtotime($customer->date_modified)) ?>" class="inp-form" DISABLED>
				</td>
			</tr>
			<?php endif; ?>
		<tr>
			<td colspan="2">
				<input type="submit" value="" class="form-submit" />
				<input type="reset" value="" class="form-reset"  />
			</td>
		</tr>
		</tbody>
	</table>
        </form>
</div>
<?php if ($customer->id): ?>
<div>
    <h1>Authorized Representatives</h1><br/>

    <table id="product-table">
            <thead>
				<tr>
					<th class="table-header-check"><a id="toggle-all" class=" "></a> </th>
					<th class="table-header-repeat line-left"><a href="">Name</a></th>
					<th class="table-header-options line-left"><a href="">Actions</a></th>
				</tr>
	</thead>
	<tbody>
	<?php foreach ($this->reps as $rep): ?>
	<tr>
	    <td></td>
	    <td><?= $rep->first_name . ' ' . $rep->last_name ?></td>
	    <td><a href="/admin/client/remove-rep/id/<?= $rep->id ?>/client/<?= $customer->id ?>">Remove</a></td>
	</tr>
	<?php endforeach; ?>
	</tbody>
    </table><br/><br/><br/>

    <h1>Add Representatives</h1><br/>

    <table id="product-table">
            <thead>
				<tr>
					<th class="table-header-check"><a id="toggle-all" class=" "></a> </th>
					<th class="table-header-repeat line-left"><a href="">Name</a></th>
					<th class="table-header-options line-left"><a href="">Actions</a></th>
				</tr>
	</thead>
	<tbody>
	<?php foreach ($this->all as $rep): ?>
	<tr>
	    <td></td>
	    <td><?= $rep->first_name . ' ' . $rep->last_name ?></td>
	    <td><a href="/admin/client/add-rep/id/<?= $rep->id ?>/client/<?= $customer->id ?>">Add</a></td>
	</tr>
	<?php endforeach; ?>
	</tbody>
    </table>
</div>
<?php endif; ?>
