<?php
$this->headScript()->appendFile('/js/jquery/jquery.dataTables.min.js');

$this->headScript()->appendScript(<<<EOT
   $(document).ready(function() {
    $('#product-table').dataTable( {} );
   } );
EOT
);
?>

<div id="view-content">
<h1>Manage Customers</h1>
    <?php
    if(isset($this->formtype))
    {
        ?>Client <?= ucfirst($this->formtype) ?><br /><br /><?php
    }
    ?>
	<table id="product-table">
            <thead>
				<tr>
					<th class="table-header-check"><a id="toggle-all" class=" "></a> </th>
					<th class="table-header-repeat line-left"><a href="">First Name</a></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Last Name</a>	</th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">License #</a></th>
					<th class="table-header-repeat line-left"><a href="">Date of Birth</a></th>
					<th class="table-header-options line-left"><a href="">Actions</a></th>
				</tr>
        </thead>
        <tbody>
            <?php
            if(isset($this->clients))
			$i = 1;
            {
                foreach($this->clients as $aClient)
                {
				if($i%2) {
						echo "<tr>";
						} else {
						echo '<tr class="alternate-row">';
						}
                    ?>
						<td></td>
                        <td><?= $aClient->first_name ?></td>
                        <td><?= $aClient->last_name ?></td>
                        <td><?= $aClient->drivers_license_number ?></td>
                        <td><?= $aClient->date_of_birth ?></td>
                        <td>
						<a class="icon-1 info-tooltip" href="/admin/client/view/id/<?= $aClient->id ?>"></a>
						<a class="icon-2 info-tooltip" href="/admin/client/delete/id/<?= $aClient->id ?>" onclick="javascript:deleteCheck(<?= $aClient->id ?>)"></a>
						<a href="/admin/client/tickets/id/<?= $aClient->id ?>">View Closed Tickets</a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
		<tfoot>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Suspended</th>
                    <th>Level</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
    </table>
</div>
<br/><br/><br/><br/>

<div id="view-content">
<div>
<h1>Manage Corporate Customers</h1>
<form action="<?= $this->url(array('controller' => 'client', 'action' => 'edit-corporate')) ?>">
<input type="submit" class="form-blue" value="New">
</form>
</div>
	<table id="product-table">
            <thead>
				<tr>
					<th class="table-header-check"><a id="toggle-all" class=" "></a> </th>
					<th class="table-header-repeat line-left"><a href="">Name</a></th>
					<th class="table-header-options line-left"><a href="">Actions</a></th>
				</tr>
        </thead>
        <tbody>
            <?php
            if(isset($this->corps))
            {
			$i = 1;
                foreach($this->corps as $aCorp)
                {
				if($i%2) {
						echo "<tr>";
						} else {
						echo '<tr class="alternate-row">';
						}
                    ?>
						<td></td>
                        <td><?= $aCorp->name ?></td>
                        <td>
						<a class="icon-1 info-tooltip" href="/admin/client/edit-corporate/id/<?= $aCorp->id ?>"></a>
						<a class="icon-2 info-tooltip" href="/admin/client/delete-corporate/id/<?= $aCorp->id ?>" onclick="javascript:deleteCheck(<?= $aCorp->id ?>)"></a>

						<a href="/admin/client/tickets/id/<?= $aCorp->id ?>/corp/1">View Closed Tickets</a>
                        </td>
                    </tr>
                    <?php
                }
	    }
            ?>
        </tbody>
    </table>
</div>
