<div id="view-content">
        <div id="searchmsg"></div>
        <form name="back" id="back" action="/admin/client/search" method="post">
            <button type="submit" class="form-blue">Back</button>
        </form>
	<br /><br />
        <table id="product-table">
            <thead>
                <tr>
                    <!--th class="table-header-repeat line-left"><a href="#">Select</a></th-->
                    <th class="table-header-repeat line-left"><a href="#">Ticket #</a></th>
                    <th class="table-header-repeat line-left"><a href="#">Amount</a></th>
                    <th class="table-header-repeat line-left"><a href="#">Date</a></th>
                </tr>
            </thead>
            <tbody>
                <?php
    $customerId = 0;
    if(is_array($this->tickets) && count($this->tickets) > 0)
    foreach($this->tickets as $thisTicket)
    {

	if ($this->corp)
	{
	    if($thisTicket->corporate_ticket !== $customerId)
            {
                $customerId = $thisTicket->corporate_ticket;
                $cu = new SY_Model_Corporate();
                $cu->id = $customerId;
                $cust = $cu->findOne();
                ?><tr>
                    <th class="table-header-repeat line-left" colspan="3"><a href="#">Tickets for <?= $cust->name ?></a></td>
                </tr>
                <?php
	    }
	}
	else
	{
	    if($thisTicket->customer_id !== $customerId)
            {
                $customerId = $thisTicket->customer_id;
                $cu = new SY_Model_Customer();
                $cu->id = $customerId;
                $cust = $cu->findOne();
                ?><tr>
                    <th class="table-header-repeat line-left" colspan="3"><a href="#">Tickets for <?= $cust->first_name ?> <?= $cust->last_name ?></a></td>
                </tr>
                <?php
	    }
	}
        // get the sum
        $pu = new SY_Model_Purchase();
        $pu->ticket_id = $thisTicket->id;
        $purs = $pu->findAll();
        $sum = 0;
        foreach($purs as $thisPur)
        {
            $sum += $thisPur->price_per_unit * ($thisPur->gross - $thisPur->tare);
        }
        ?><tr>
            <!--td><input type="checkbox" name="tickets[]" value="<?= $thisTicket->id ?>" onchange="" /></td-->
            <td><a href="/office/transaction/view/id/<?= $thisTicket->id ?>"><?= $thisTicket->ticketNumber() ?></a></td>
            <td style="text-align: right;">$<?= number_format($sum, 2, '.', ',') ?></td>
            <td><?= date("m/d/Y",strtotime($thisTicket->date_created)) ?></td>
        </tr>
        <?php
    }
    else
    {
        ?><tr><td colspan="3">No <?= ucfirst($this->tickettype) ?> Tickets Found</td></tr>
        <?php
    }
    ?></tbody>
        </table>
        
</div>
