<br /><br />
<div id="view-content">
    <?php
        $customer = $this->customer;
        ?>
        <form name="results" action="/admin/client/results" id="resultsform" method="post" enctype="multipart/form-data">
            <input type="hidden" name="formtype" value="view" />
            <input type="hidden" name="id" value="<?= $this->customer->id ?>" />
			
		<table id="id-form">
		<tbody>
			<tr>
				<th>
					First Name (required):
				</th>
				<td>
					<input type="text" name="first_name" id="firstName" value="<?= $customer->first_name ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Middle Initial:
				</th>
				<td>
					<input type="text" name="middle_name" id="middleName" value="<?= $customer->middle_name ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Last Name (required):
				</th>
				<td>
					<input type="text" name="last_name" id="lastName" value="<?= $customer->last_name ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>				
				<th>
					Date of Birth (YYYYMMDD) (required):
				</th>
				<td>
					<input type="text" name="date_of_birth" id="dob" value="<?= SY_Model_Customer::formatDOB($customer->date_of_birth, true) ?>" class="inp-form">
				</td>
			</tr>
			<tr>			
				<th>
					License #:
				</th>
				<td>
					<input type="text" name="drivers_license_number" id="license" value="<?= $customer->drivers_license_number ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>				
				<th>
					Address Line 1:
				</th>
				<td>
					<input type="text" name="address_1" id="address_1" value="<?= $customer->address_1 ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Address Line 2 (optional):
				</th>
				<td>
					<input type="text" name="address_2" id="address_2" value="<?= $customer->address_2 ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>		
				<th>
					City:
				</th>
				<td>
					<input type="text" name="city" id="newcity" value="<?= $customer->city ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					State:
				</th>
				<td>
					<input type="text" name="state" id="newstate" value="<?= $customer->state ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
			<tr>
				<th>
					Zip Code:
				</th>
				<td>
					<input type="text" name="zip_code" id="newzip" value="<?= $customer->zip_code ?>" style="text-transform:uppercase;" onkeyup="this.value=this.value.toUpperCase()" class="inp-form">
				</td>
			</tr>
		<tr>
            <th>
                Picture:
            </th>
				<td>
					<?php
					if(!empty($customer->picture))
					{
						$base64 = base64_encode($customer->picture);
						?><img src="data:<?= $customer->picture_mimetype ?>;base64,<?= $base64 ?>" />
                        <br />
						<?php
					}
                    else
                    {
                        echo '&nbsp;';
                    }
					?>
				</td>
			</tr>
            <tr>
                <th>
                    Upload Picture:
                </th>
                <td>
                    <input type="file" name="picture_upload" />
                </td>
            </tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="" class="form-submit" />
				<input type="reset" value="" class="form-reset"  />
			</td>
		</tr>
		</tbody>
	</table>
        </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){ $('#firstName').focus; $('#firstName').select(); });
</script>